[2018-11-26 04:26] sijie opened #1 "Create Tenant Page"

[2018-11-26 04:26] sijie opened #2 "List Tenants Page"

[2018-11-26 04:26] sijie opened #3 "Tenant Details Page"

[2018-11-26 04:26] sijie opened #4 "Create Namespace Page"

[2018-11-26 04:26] sijie opened #5 "List Namespaces Page"

[2018-11-26 04:26] sijie opened #6 "Namespace Details Page"

[2018-11-26 04:26] sijie opened #7 "Create Topic Page"

[2018-11-26 04:26] sijie opened #8 "Create Subscription Page"

[2018-11-26 04:26] sijie opened #9 "Topic Details Page"

[2018-11-26 04:26] sijie opened #10 "List Topics Page"

[2018-11-26 04:26] sijie opened #11 "Namespace Policies Page"

[2019-03-04 09:38] tuteng opened #14 "Support authentication and authorization for Pulsar Manager (MVP)"
Give priority to supporting JWT.

We will use this issue to track authentication and authorization

- [x] Support token management (https://github.com/apache/pulsar-manager/pull/205)
- [x] Support authorization at the namespace level (https://github.com/apache/pulsar-manager/pull/205)
- [x] Support authorization at the topic level (https://github.com/apache/pulsar-manager/pull/205)
- [x] Support f

[2019-03-04 09:41] #1 closed, assigned to nobody

[2019-03-04 09:41] #2 closed, assigned to nobody

[2019-03-04 09:41] #3 closed, assigned to nobody

[2019-03-04 09:41] #4 closed, assigned to nobody

[2019-03-04 09:41] #5 closed, assigned to nobody

[2019-03-04 09:41] #6 closed, assigned to nobody

[2019-03-04 09:44] #11 closed, assigned to nobody

[2019-03-04 09:45] tuteng opened #15 "Add dashboard and metrics"
Refrence https://github.com/streamnative/pulsar-manager/issues/47

[2019-03-04 09:46] tuteng opened #16 "Support functions manage"
- [x] create
- [x] delete
- [x] update
- [x] get
- [x] restart
- [x] stop
- [x] start
- [x] status
- [x] stats
- [x] list

[2019-03-04 09:49] tuteng opened #17 "Add clusters manage"
Support clusters add, delete, update,

[2019-03-06 12:36] #7 closed, assigned to nobody

[2019-03-06 12:36] #8 closed, assigned to nobody

[2019-03-06 12:37] #10 closed, assigned to nobody

[2019-03-06 12:37] #9 closed, assigned to nobody

[2019-03-16 03:10] tuteng opened #22 "Namespaces support more actions"
#### Namespace
Current actions

- [x] grant-permission
- [x] revoke-permission
- [x] set-clusters
- [x] set-backlog-quota
- [x] remove-backlog-quota
- [x] set-persistence
- [x] set-message-ttl
- [x] set-anti-affinity-group
- [x] delete-anti-affinity-group
- [x] set-deduplication
- [x] set-retention
- [x] unload
- [x] set-dispatch-rate
- [x] clear-backlog
- [x] unsubscribe
- [x] set-encryption-requ

[2019-03-18 01:49] tuteng opened #23 "Topics support more actions"
#### Topic
Current actions

- [x] grant-permission
- [x] revoke-permission
- [x] unload
- [x] terminate
- [x] compact
- [x] offload

[2019-03-28 00:37] tuteng opened #25 "Add schemas manage"

[2019-03-29 03:51] tuteng opened #26 "Subscription add more options"
#### Subscription
Current actions

- [x] skip
- [x] expire-messages
- [x] expire-messages-all-subscriptions
- [x] reset-cursor

[2019-03-29 05:28] tuteng opened #28 "Add user manual"

[2019-03-29 05:29] tuteng opened #29 "Add deploy script"

[2019-03-29 20:55] #23 closed, assigned to nobody

[2019-03-31 09:16] #26 closed, assigned to tuteng

[2019-04-01 08:54] tuteng opened #32 "Support source"
- [x] create
- [x] update
- [x] delete
- [x] get
- [x] status
- [x] list
- [x] stop
- [x] start
- [x] restart
- [x] available-sources

[2019-04-01 08:54] tuteng opened #33 "Support sink"
- [x] create
- [x] update
- [x] delete
- [x] get
- [x] status
- [x] list
- [x] stop
- [x] start
- [x] restart
- [x] available-sinks

localrun no find rest api document

[2019-04-01 08:57] tuteng opened #34 "Support resource-quotas"
- [x] get
- [x] set
- [x] reset-namespace-bundle-quota

[2019-04-01 09:00] tuteng opened #35 "Support brokers manage"
- [x] list
- [x] namespaces
- [x] update-dynamic-config
- [x] list-dynamic-config
- [x] get-all-dynamic-config
- [x] get-internal-config
- [x] get-runtime-config
- [x] healthcheck

[2019-04-01 09:01] tuteng opened #36 "Support bookies"
- [x] racks-placement
- [x] get-bookie-rack
- [x] delete-bookie-rack
- [x] set-bookie-rack

[2019-04-01 09:03] tuteng opened #37 "Support brokers stats"
- [ ] monitoring-metrics
- [ ] mbeans
- [ ] topics
- [ ] allocator-stats
- [ ] load-report

[2019-04-01 09:04] tuteng opened #38 "Support functions stats"
- [ ] function-stats
- [ ] monitoring-metrics
- [ ] get-cluster
- [ ] get-cluster-leader
- [ ] get-function-assigments

[2019-04-01 16:00] #25 closed, assigned to tuteng

[2019-04-03 10:14] #16 closed, assigned to tuteng

[2019-04-04 02:15] tuteng opened #40 "Pulsar manager integration test task"
### Motivation
In order to test pulsar-manager and ensure pulsar-manager quality.
Verify page functions, verify business logic.

### Tools
nightwatch, request

### Start add test

#### Open a issue
Title: [integration-test][tenants-create]Add integration for tenants-create

#### Start pulsar-manager and pulsar service
Reference https://github.com/streamnative/pulsar-manager/blob/master/front-end/R

[2019-04-04 12:54] #35 closed, assigned to tuteng

[2019-04-07 04:14] #32 closed, assigned to tuteng

[2019-04-08 02:27] #33 closed, assigned to tuteng

[2019-04-09 08:08] #34 closed, assigned to tuteng

[2019-04-09 08:52] tuteng opened #47 "Support embed grafana and prometheus"
Grafana and prometheus support rich monitoring.
It's all about monitoring of pulsar-admin broker-stats and pulsar-admin function-worker, so embed grafana and prometheus by iframe

It's about issue https://github.com/streamnative/pulsar-manager/issues/37 and issue https://github.com/streamnative/pulsar-manager/issues/38

Prometheus
![image](https://user-images.githubusercontent.com/1907867/55787973

[2019-04-09 12:25] #22 closed, assigned to nobody

[2019-04-11 14:35] #47 closed, assigned to tuteng

[2019-04-12 06:21] #38 closed, assigned to tuteng

[2019-04-12 06:22] #37 closed, assigned to tuteng

[2019-04-15 12:55] #15 closed, assigned to nobody

[2019-04-15 13:04] #17 closed, assigned to nobody

[2019-04-15 14:34] tuteng opened #53 "Test rest api of functions, sink and source in /api/v2 and /api/v3"
/api/v2 and /api/v3
source
[code]
function
[code]

[code]

sink
[code]

[2019-04-16 01:55] #36 closed, assigned to tuteng

[2019-04-18 05:41] tuteng opened #55 "Add Dockerfile for pulsar-manager"
We need a dockerfile to simplify deployment

[2019-04-18 13:00] sijie opened #56 "Fix security issue of SimpleMDE"
*Problem*

SimpleMDE 1.11.2 has XSS via an onerror attribute of a crafted IMG element, or via certain input with [ and ( characters, which is mishandled during construction of an A element.

<img width="755" alt="Screen Shot 2019-04-18 at 8 57 37 PM" src="https://user-images.githubusercontent.com/1217863/56362530-af3b0d80-621c-11e9-80dc-d5464a998a8d.png">

[2019-04-18 16:34] #56 closed, assigned to nobody

[2019-04-18 16:38] sijie opened #58 "Add a Jenkins CI job to verify pull requests"
https://github.com/streamnative/pulsar-manager/issues/40 introduces integration tests for pulsar-manager. We need to make sure all the pull requests are verified by the integration tests before they can be merged.

[2019-04-19 13:18] #28 closed, assigned to tuteng

[2019-04-23 01:51] tuteng opened #60 "Sidebar Bar: It should be better to organize the sections into following format"
* Management
	* Messaging
		* Tenants
		* Namespaces
		* Topics
		* Subscriptions
	* I/O
		* Source
		* Sink
	* Compute
		* Functions
* Administer
	* Clusters
	* Brokers
	* Bookies
* Monitor
	* Prometheus
	* Grafana

[2019-04-23 01:53] tuteng opened #61 "Remove history tabs."
![image](https://user-images.githubusercontent.com/1907867/56546665-99777080-65ad-11e9-82e0-8c1ddc0e100d.png)

[2019-04-23 01:53] tuteng opened #62 "The config panel (display json config) should have buttons to save the config. Or just disable editing."
* disable editing

[2019-04-23 01:54] tuteng opened #63 "cluster cluster should provide the fields to include service urls like the update operation."
![image](https://user-images.githubusercontent.com/1907867/56546739-c6c41e80-65ad-11e9-960d-580caf5ac70f.png)

[2019-04-23 01:55] tuteng opened #64 "When a cluster is selected, the url should be changed"
When a cluster is selected, the url should be changed to “/clusters/<cluster-name>” and the cluster config should be changed as well. Otherwise, it becomes very confused.

[2019-04-23 01:55] tuteng opened #65 "The cluster should have a link to the cluster details page"
E.g. “standalone” -> “/clusters/standalone”. The cluster details page should show the list of brokers and the list of bookies.

[2019-04-23 01:56] tuteng opened #66 "`updatePeer` and `domainName` should be moved to cluster’s action."
![image](https://user-images.githubusercontent.com/1907867/56546841-1acf0300-65ae-11e9-8a34-0580d9c1935a.png)

[2019-04-23 02:08] tuteng opened #67 "ServiceUlr edit bug"
![image](https://user-images.githubusercontent.com/1907867/56547368-ca58a500-65af-11e9-8fc1-89a454cd9a3b.png)

[2019-04-23 02:09] tuteng opened #68 "The edit form has wrong field names"
* ServiceUrl
* ServiceUrlTls
* HttpUrl
* HttpsUrl

[2019-04-23 02:09] tuteng opened #69 "Delete button should have a confirmation dialog to confirm the deletion"

[2019-04-23 02:15] tuteng opened #70 "[brokers]When a broker is selcted, the content should be updated."

[2019-04-23 02:16] tuteng opened #71 "[brokers]Click namespace config should not pop-up dialogs."
![image](https://user-images.githubusercontent.com/1907867/56547708-ca0cd980-65b0-11e9-99db-a5ecd909be9f.png)

[2019-04-23 02:17] tuteng opened #72 "[brokers]Each broker should have its details page."

[2019-04-23 02:20] tuteng opened #73 "[tenants]Add role field to the create tenant dialog"

[2019-04-23 02:21] tuteng opened #74 "[tenants]When update the config, the config is not refreshed automatically."
When update the config, the config is not refreshed automatically. It still displays “{}” until you click “config” link.
![image](https://user-images.githubusercontent.com/1907867/56548017-89fa2680-65b1-11e9-8e9d-5532660c0369.png)

[2019-04-23 02:21] tuteng opened #75 "[tenants]Delete should have a promoted dialog to allow users to confirm deleting a tenant."
Delete should have a promoted dialog to allow users to confirm deleting a tenant.

[2019-04-23 02:22] tuteng opened #76 "[namespaces]The second column is wrong. It should be “policies” not “stats”."

[2019-04-23 02:29] tuteng opened #77 "[namespaces]The policy page should be divided into multiple sections"

[2019-04-23 02:40] tuteng opened #78 "[namespaces]When click the namespace link, it doesn’t show the namespace and tenant."
When click the namespace link, it should goes to the details page of a namespace. But it doesn’t show the namespace and tenant.

[2019-04-23 02:44] tuteng opened #79 "[topics]After successfully created a partitioned topic, it doesn’t show the page in the namespace page."

[2019-04-23 02:54] tuteng opened #80 "[topics]Schema should be part of a topic’s actions."
![image](https://user-images.githubusercontent.com/1907867/56549716-23c3d280-65b6-11e9-8eee-9c72ef074955.png)

[2019-04-23 02:56] tuteng opened #81 "[topics]Schema should be disable in json format."

[2019-04-23 02:56] tuteng opened #82 "[topics]Schema should be dispalyed with multiple versions."

[2019-04-23 02:57] tuteng opened #83 "[topics]Schema should be created by two methods"
Schema should be created by two methods: one is uploading the json file, the other one is with a schema builder.

[2019-04-23 02:58] tuteng opened #84 "Delete should show ask user to confirm if the topic should be deleted or not"
Delete should show ask user to confirm if the topic should be deleted or not. User should also have the ability to choose deleting schema as well.

[2019-04-23 02:58] tuteng opened #85 "[topics]Topic should have a details page to show the list of subscriptions."
Topic should have a details page to show the list of subscriptions.

[2019-04-23 02:59] tuteng opened #86 "[subscriptions]messageId: there should be a selectbox list."
messageId: there should be a selectbox list. Earliest, latest, and a customize messageId

[2019-04-23 03:00] tuteng opened #87 "[subscriptions]Subscription should have the ability to set dispatch rate."

[2019-04-23 03:01] tuteng opened #88 "[subscriptions]The subscription page should should be showing the topic stats."
The subscription page should be a detailed page. It should be showing the topic stats.

[2019-04-23 03:02] tuteng opened #89 "[subscriptions]“Subscription” => “Subscribe”"
![image](https://user-images.githubusercontent.com/1907867/56550068-368ad700-65b7-11e9-98b0-70f18080c34e.png)

[2019-04-23 03:02] tuteng opened #90 "[functions]Buttons should be disabled if no tenants and namespaces are selected."

[2019-04-23 03:04] tuteng opened #91 "[functions] Create function form The parameters should be categorized into groups."
* [ ] The parameters should be categorized into groups
  * required fields
  * function (language, codeFile, class)
  * resources
  * input
  * output
* [ ] language select should a droplist
* [ ] input and output topics should be able to select from other tenant and namespaces
* [ ] Edit and Delete buttons should be per function
* [ ] Function should have a details page to show the list of instan

[2019-04-27 12:23] tuteng opened #93 "Add a description of proxyTable in README.md"

[2019-05-30 10:02] tuteng opened #95 "[task]pulsar-manger front-end and back-end task"
### Backend

- [x] Spring pulsar client
    - [x] Parse annotation
    - [x] Implement consumer subscription, consume messages
    - [x] Support Schema
- [ ] Support event parse
- [ ] Design table structure
- [x] Design rest api
    - [x] Support swagger generate
- [x] Design route routing forwarding
    - [x] Search tenant, cluster, broker, namespace, topic, subscription, function => backend quer

[2019-06-07 10:03] tuteng opened #98 "[discuss]Split manager back end into a separate repository"
At present, the front-end and back-end projects of pulsar-manager are not convenient for deployment and expansion in one project. At present, the back-end has no sub-modules, and there may be more modules based on this project in the future. It will be clearer to split into a single project. This repository is only used to store front-end projects. In the future, the front-end can be deployed inde

[2019-07-03 09:13] #98 closed, assigned to tuteng

[2019-07-08 04:13] tuteng opened #105 "Import swagger module to generate rest api."
Generat rest api for puslar-manager via swagger module

[2019-07-11 05:22] #105 closed, assigned to tuteng

[2019-07-16 02:03] tuteng opened #112 "Add unit test for pulsar-manager front end"
Currently, pulsar-manger lacks unit tests, which should be added.
Test Tools: [vue-test-utils](https://vue-test-utils.vuejs.org/zh/)
Test Plan:
* [ ] Tenant
   * [ ] getTenants
   * [ ] localPaging
   * [ ] handleGetConfig
   * [ ] handleFilter
   * [ ] handleCreate
   * [ ] createData
   * [ ] handleUpdate
   * [ ] updateData
   * [ ] handleDelete
* [ ] Namespace
* [ ] Topics
* [ ] Subscriptions

[2019-07-30 15:30] #61 closed, assigned to nobody

[2019-07-30 15:31] #62 closed, assigned to nobody

[2019-07-30 15:34] #77 closed, assigned to nobody

[2019-07-30 15:36] #76 closed, assigned to nobody

[2019-07-31 02:09] #65 closed, assigned to nobody

[2019-07-31 02:09] #72 closed, assigned to nobody

[2019-07-31 04:16] #70 closed, assigned to nobody

[2019-08-02 06:53] #63 closed, assigned to nobody

[2019-08-06 04:09] #85 closed, assigned to nobody

[2019-08-06 04:10] #79 closed, assigned to nobody

[2019-08-06 04:10] #69 closed, assigned to nobody

[2019-08-06 04:11] #68 closed, assigned to nobody

[2019-08-06 04:12] #75 closed, assigned to nobody

[2019-08-06 04:13] #78 closed, assigned to nobody

[2019-08-06 04:14] #88 closed, assigned to nobody

[2019-08-06 04:14] #74 closed, assigned to nobody

[2019-08-06 04:15] #66 closed, assigned to nobody

[2019-08-06 04:15] #67 closed, assigned to nobody

[2019-08-06 04:16] #64 closed, assigned to nobody

[2019-08-06 04:17] #84 closed, assigned to nobody

[2019-08-06 08:28] #71 closed, assigned to nobody

[2019-08-06 08:29] #87 closed, assigned to nobody

[2019-08-06 08:31] #89 closed, assigned to nobody

[2019-08-06 08:31] #86 closed, assigned to nobody

[2019-08-07 14:49] #55 closed, assigned to tuteng

[2019-08-09 05:21] sijie opened #132 "Pulsar manager doesn't display the number of brokers correctly"
I use a wrong http service url to create a cluster. the http service url is unreachable but pulsar-manager still display that there is one broker.

<img width="1476" alt="Screen Shot 2019-08-09 at 1 18 54 PM" src="https://user-images.githubusercontent.com/1217863/62755899-5c75b200-baa8-11e9-8c00-c3fc1d29c4c9.png">

[2019-08-09 05:24] sijie opened #133 "The list of namespace policies is overlapped with "New Isolation Policy" button"
<img width="665" alt="Screen Shot 2019-08-09 at 1 23 32 PM" src="https://user-images.githubusercontent.com/1217863/62756083-005f5d80-baa9-11e9-879a-af1953801976.png">

[2019-08-13 03:59] #73 closed, assigned to nobody

[2019-08-13 05:37] #133 closed, assigned to nobody

[2019-08-14 06:19] #132 closed, assigned to nobody

[2019-08-14 06:20] #95 closed, assigned to tuteng

[2019-08-14 07:04] #29 closed, assigned to tuteng

[2019-08-14 08:13] tuteng opened #152 "Release 0.2.0 roadmap"
###  Authentication and Authorization

Pulsar is a multi-tenancy system. It supports different authentication and authorization mechanisms. We need to add the support for authentication and authorization in Pulsar manager.

### Schema Management

Pulsar schema is a core feature for event streams. Pulsar manager should provide better support on schemas, such as querying different versions of schema

[2019-08-15 06:31] codelipenghui opened #154 "Display wrong subscription type"
### In topic view
![image](https://user-images.githubusercontent.com/12592133/63076851-1b2e4800-bf69-11e9-802e-530314e34984.png)

### In topic partition view
![image](https://user-images.githubusercontent.com/12592133/63076878-2e411800-bf69-11e9-8aa4-237af9550f25.png)

In topic view, subscription type should be Key_shared

[2019-08-15 06:46] codelipenghui opened #155 "Allow backlog operate at partitioned topic view"
Currently, use pulsar manager can operate the backlog by each partitions. But some operations will be more convenient by partitioned topic.

![image](https://user-images.githubusercontent.com/12592133/63077373-a65c0d80-bf6a-11e9-82aa-19c80dea7426.png)

So, we'd better to add support for partitioned topic backlog operation.

1. Reset cursor by time
2. Clear backlog
3. Expire messages

[2019-08-15 06:48] codelipenghui opened #156 "Make the partition list display in order"
![image](https://user-images.githubusercontent.com/12592133/63077664-a7416f00-bf6b-11e9-9995-3e1482b5f51d.png)

[2019-08-15 12:09] codelipenghui opened #157 "Error cause while create multiple environment"
Here is the error log at pulsar manager service:
[code]

[2019-08-16 02:29] #154 closed, assigned to nobody

[2019-08-16 06:12] codelipenghui opened #160 "Improve storage size display at storage tab"
It's better to display as KB MB GB TB
![image](https://user-images.githubusercontent.com/12592133/63147134-da4d3680-c02f-11e9-9a8c-7f2c923f84ef.png)

[2019-08-16 06:19] codelipenghui opened #161 "Show more stats at tenants and namespaces list."
At tenants list page and namespaces list page, we'd better add some messages stats like topics list page:
![image](https://user-images.githubusercontent.com/12592133/63147451-ceae3f80-c030-11e9-8550-e3d7341d5d98.png)

[2019-08-16 09:55] #156 closed, assigned to nobody

[2019-08-18 04:49] #160 closed, assigned to nobody

[2019-08-18 04:50] #155 closed, assigned to nobody

[2019-08-20 12:54] #157 closed, assigned to nobody

[2019-08-22 06:59] codelipenghui opened #165 "DuplicateKeyException while using mysql database"
Here is the backend error log:
[code]

[2019-08-22 09:08] #165 closed, assigned to nobody

[2019-08-22 09:10] codelipenghui opened #167 "Add operation for delete subscription."
![image](https://user-images.githubusercontent.com/12592133/63502213-a8404680-c4ff-11e9-9450-7782634c1956.png)

[2019-08-22 09:13] codelipenghui opened #168 "Show more stats of consumer."
![image](https://user-images.githubusercontent.com/12592133/63502270-cb6af600-c4ff-11e9-93b6-3a3977428e4c.png)

Click the consumer name can show all stats of the consumer.

[2019-08-22 09:19] codelipenghui opened #169 "Support force delete topic if topic has active producers or consumers"
Delete topic is useful for delete the data of the topic, so if have producers or consumers are connected, we need to force delete the topic.

![image](https://user-images.githubusercontent.com/12592133/63502681-a6c34e00-c500-11e9-8a36-4a242b3b6a2b.png)

[2019-08-22 09:24] codelipenghui opened #170 "Add Sort Component for topic list"
![image](https://user-images.githubusercontent.com/12592133/63503206-a2e3fb80-c501-11e9-8186-89643b68cf81.png)

[2019-08-22 09:56] codelipenghui opened #171 "Wrong brokers stats at brokers list."
This is the stats at broker list:
![image](https://user-images.githubusercontent.com/12592133/63505255-ce68e500-c505-11e9-931c-d7e9c83a6fce.png)

But, actually 172.30.92.14 don't owned any bundles:
![image](https://user-images.githubusercontent.com/12592133/63505332-efc9d100-c505-11e9-8228-4c5cdadeefbc.png)

172.30.92.10 owned all bundles:
![image](https://user-images.githubusercontent.com/1259213

[2019-08-28 11:50] codelipenghui opened #173 "Reset cursor by time is incorrect."
As the image show, the description of the reset by time looks weird, in seconds or minutes?
But when use it to reset cursor, actually it seems reset to the earliest message.

![image](https://user-images.githubusercontent.com/12592133/63853035-4afb3800-c9cc-11e9-9992-c5403130f78d.png)

[2019-08-29 02:04] #171 closed, assigned to nobody

[2019-08-30 10:25] eolivelli opened #177 "Investigate using HerdDB as backend SQL database"
HerdDB (https://github.com/diennea/herdddb) is an SQL database that is built upon Apache BookKeeper and Apache ZooKeeper.
When you have a Pulsar cluster you already have Bookies and a ZK cluster so setting up an HerdDB database is simple.
HerdDB has a JDBC client as primary client interface and it was originally developed to replace MySQL.

HerdDB server can run inside the same process of the clie

[2019-09-02 04:17] sunlc210 opened #180 "Manager can't load the metric message from cluster"
After I setup a manager to operate the cluster , found that ,only can get the metadata but the --metric message ,the back-end throw below exception.

java.lang.IllegalArgumentException: Illegal character in scheme name at index 0: 10.2.51.154:8080/admin/v2/clusters/pulsar-cluster-1/failureDomains
        at java.net.URI.create(URI.java:852) ~[na:1.8.0_111]
        at org.apache.http.client.methods

[2019-09-02 04:24] tuteng commented on #180
The reason for this problem is that the service URL is not prefixed with HTTP, and a judgment should be added. if the service URL provided by the user does not have an http prefix, the http prefix should be added automatically.

Temporary solution:
[code]
Add http prefix to service url

[2019-09-02 04:27] #173 closed

[2019-09-02 05:57] sunlc210 commented on #180
as the temp idea, the system can be running OK , thanks

[2019-09-02 06:03] sunlc210 commented on #152
Waiting for the new release ,BTW, can supply the binary tar ?The build work is too tough, must supply the non-conflict npm env.

[2019-09-02 07:51] tuteng opened #181 "Optimizing debugging of pulsar-manager container"
At present, the debugging information of some services in the pulsar manager container is not perfect, and the debugging steps are not very good and need to be optimized.

[2019-09-02 12:40] codelipenghui opened #182 "Storage size is always 0 Bytes"
![image](https://user-images.githubusercontent.com/12592133/64115296-c9d3e480-cdc1-11e9-84a2-7ac71b188445.png)

[2019-09-04 15:44] eolivelli commented on #177
Good news:
I am able to start Pulsar Manager with HerdDB, just by adding the JDBC driver and creating the sql file for creating the schema.

But I have one problem, HerdDB uses "Apache Calcite" for parsing SQL and it does not deal well with column names named 'timestamp'.

I am trying to find a workaround but queries are hardcoded in .java files so it won't be easy to use a different columnname or

[2019-09-05 07:38] yangl opened #184 "Wrong brokers lists at brokers list."
Management/Clusters/Cluster Details /BROKERS

![111](https://user-images.githubusercontent.com/231353/64321467-2a963380-cff3-11e9-8fde-9490e84ebd2e.png)

[2019-09-05 18:47] #182 closed

[2019-09-06 23:30] #184 closed

[2019-09-15 05:54] #181 closed

[2019-09-16 08:04] f7753 opened #192 "Wrong place for license scan badge in README.md"
I'd like to move the badge from the chapter Tenants Management to the tail of the introduction of this project.

![image](https://user-images.githubusercontent.com/5338550/64942463-b03f9c00-d89b-11e9-87ea-ec0039a31145.png)

[2019-09-18 06:04] #192 closed

[2019-09-19 09:34] tuteng commented on #177
It is resolved here https://github.com/streamnative/pulsar-manager/pull/194.

[2019-09-19 09:34] #177 closed

[2019-09-27 03:23] shustsud commented on #14
I would like to add authentication between BE and Brokers.
I'm planning to use Authentication class in pulsar-client-api package.
 - [Authentication.java](https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Authentication.java)
 - [AuthenticationFactory.java](https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apach

[2019-09-27 05:59] tuteng commented on #14
Our design documents for authorization and authentication are almost complete. If you are interested in the authorization and authentication features of pulsar-manager, you can continue to pay attention to them. @shustsud

[2019-09-30 01:56] shustsud commented on #14
@tuteng
thank you for your comment!

Could you show me the design document?

[2019-09-30 10:17] tuteng commented on #14
@shustsud We are in the process of final improvement. If there is no problem, it should be sent out in the near future.

[2019-10-01 03:57] shustsud commented on #14
@tuteng
Thanks for your comment!

I wait for the project update.

[2019-10-07 20:53] rocketraman opened #196 "Allow specifying an external Postgresql in the docker image"
The docker image currently fires up its own PostgresQL database. I'd prefer to use an existing database I already have. It's trivial to create my own image, but it would be nice if this was an option.

[2019-10-09 08:42] tuteng commented on #196
Sorry, I just noticed this issue.

You can use the following command to connect to other databases. However, note that your docker image should be connected to the database network. Use your database address, account and password to replace the database address, account and password in the command line.
[code]

[2019-10-09 13:17] rocketraman commented on #196
That's what I thought, but on inspecting the docker file, it runs `entrypoint.sh`, which runs `startup.sh`, which creates a PG database and starts it, regardless of the presence of the environment variable `URL`.

I was able to make it work by creating my own Dockerfile and commenting out this entire section of `entrypoint.sh`:

https://github.com/apache/pulsar-manager/blob/master/docker/entrypoin

[2019-10-09 15:06] rocketraman commented on #196
I guess its more of an efficiency thing than a correctness thing... there is no point in running a local postgres if its not needed.

[2019-10-09 17:34] rocketraman opened #198 "For partitioned topics, show statistics correctly in namespace details"
The namespace details page currently does not show the correct statistics in the Producers, Subscriptions, or any of the Rate, Throughput, or Storage Size columns.

It does show that information per-partition in the Topic Details page.

Is it possible for the Namespace Details page to aggregate all of the information from each individual partition and show it?

[2019-10-10 01:49] tuteng commented on #198
The timer has already saved the required statistics in the database, so it is relatively easy to aggregate these contents below. There is still a lot of work to be done in this part. Recently, I have not taken the time to do this part of the work. I may need to do this part of the work next week. Are you interested in trying to do something? @rocketraman

[2019-10-10 02:39] tuteng commented on #196
You can specify the parameters DRIVER_CLASS_NAME, URL, USERNAME, PASSWORD  through the above command to save the data to your custom database. Although a database is also initialized in the container, it is not used. I think I can add an option later. If the user specifies a custom database, it will not start the database in the container. This does not affect its correctness, but it does cause so

[2019-10-10 03:50] rocketraman commented on #198
Just took a quick look at the code, and yeah, it looks pretty simple. Unfortunately I don't think I'll have the time to tackle this in the next little while though.

[2019-10-10 13:10] tuteng commented on #198
Thank you, I am trying to take some time to deal with these issues in the next few weeks.

[2019-10-12 15:31] eolivelli opened #199 "Clean up dependency repositories"
Currently build.gradle is configured to download from unsecure sites, using plain http protocol.
We should only use https protocol and official and well known repositories.

We should drop http://maven.aliyun.com/nexus/content/groups/public and allow only 'Maven Central' and "Maven Local"

[2019-10-12 15:32] eolivelli commented on #199
@tuteng I feel this is kind of a blocker for a release.
I am happy to send a patch

[2019-10-12 15:42] tuteng commented on #199
You are right, thank you very much.

[2019-10-12 16:20] eolivelli commented on #199
@tuteng here is the patch #200

[2019-10-14 12:07] #199 closed

[2019-11-05 09:14] tuteng commented on #180
Move to 0.2.0

[2019-11-13 03:42] zzl221000 opened #210 "Subscription name contains '/' will cause a 404 error"
I can access it normally after url encoding.
`/management/subscriptions/persistent/public/hbase/alter_id/persistent%3a%2f%2fpublic%2fhbase%2falter_id_xjk/subscription?topTab=backlogOperation&leftTab=skip`

[2019-11-13 12:55] tuteng commented on #210
persistent://public/hbase/alter_id_xjk

I am not sure where this subscription name was generated, this is a topic name.
The meaning of each field in this path is as

* `public` is tenant name
* `hbase` is namespace name
* `alter_id_xjk` is topic name

The correct http request should look like this, if `alter_id_xjk` is subscription name:
[code]
@zzl221000

[2019-11-14 10:30] zzl221000 commented on #210
This subscription name is generated by an operation error when using the java client.
An error will occur as long as the '/' is included in the subscription name.
![image](https://user-images.githubusercontent.com/14102425/68849301-c4bdda80-070c-11ea-8f1b-e53ae26391e5.png)

@tuteng

[2019-11-14 11:16] tuteng commented on #210
I think your client used an irregular subscription name when creating the connection. The broker did not check this name. Can you show me your client code? The subscription name should look like this:
[code]
Special characters such as colon slash cannot appear in `subscription-name`

[2019-11-14 14:45] zzl221000 commented on #210
As you said, my client uses specialcharacters in the subscription name.
[code]
The broker allows this,  whether to consider compatibility with this situation?
@tuteng

[2019-11-14 15:01] tuteng commented on #210
I think the broker should do a check. The subscription name is not standard. The topic name is allowed to be written like this because the full path contains tenants, namespaces, etc. The real topic name is my-topic, but the subscription name should not allow these contents to appear. The presence of special characters in the subscription name will make the system extremely complex and many rest A

[2019-11-19 06:37] hbgongen opened #214 "we couldn't do any operation for pulsar"
we made the cluster of pulsar and put the pulsar-manager in another machine in docker,and we can't use any operation such as add namespace or add topic and so on.so maybe i need some configuration of pulsar?

[2019-11-20 08:10] tcwmj opened #215 "Is that possible to deploy functions "Fat" jar in pulsar manager?"
Deploying functions "Fat" jar into Cloud Kubernetes is too tedious, Is that possible to deploy it in pulsar manager?

[2019-11-20 15:00] tuteng commented on #215
After the latest release of version 0.1.0 of pulsar-manager is completed, we will provide YAML files based on k8s to make it easier for users to deploy on cloud platforms.

[2019-11-20 15:11] tuteng commented on #210
I think we can close the issue first now, and we'd better follow up on this issue in pulsar's repository. @zzl221000

[2019-11-21 01:04] #210 closed

[2019-11-21 02:24] tcwmj commented on #215
Excellent,

[2019-11-21 02:24] #215 closed

[2019-11-21 05:51] Mountainerd opened #216 "Unable to pull or find Docker image"
Following the instructions, I am trying to pull apache/pulsar-manager and Docker is unable to find it. When I search Docker Hub, it only is able to find the streamnative/pulsar-manager image that was updated two months ago.

[2019-11-21 06:04] tuteng commented on #216
Since this project was migrated to apache, the release has not yet been completed. we are currently making the first release. After the release is completed, we will release a new version of the image. now you can use this https://hub.docker.com/r/streamnative/pulsar-manager

[2019-11-25 16:56] KannarFr opened #219 "CORS configuration"
It should be nice to configure CORS allowed hosts from backend configuration in case of splitted frontend/backend runtimes and host.

[2019-11-25 19:19] one70six opened #220 "Add TLS Authentication and Authorization Support"
Please add support for Pulsar clusters that utilize TLS authentication and authorization mechanisms. Pulsar Manager would be a welcome addition to existing clusters if the tool supported TLS.

[Authentication using TLS](https://pulsar.apache.org/docs/en/security-tls-authentication/)

Thanks!

[2019-11-26 06:14] tuteng commented on #220
After supporting JWT authentication and authorization, I think it is relatively simple to support TLS authentication. I am currently working in this area and will add my support to TLS authentication.

[2019-11-26 06:33] tuteng commented on #219
You are right. If front-end and back-end separation is used in the production environment, I suggest using load balance to configure it properly, such as nginx https://github.com/apache/pulsar-manager/tree/master/front-end#add-configuration-to-the-configuration-file-on-nginx-server.

[2019-11-26 09:27] KannarFr commented on #219
Well in a cloud context I can't define a custom ngnix configuration and I think it should be more simple to just provide spring configuration as playframework does. Like

[code]

WDYT?

[2019-11-26 11:05] tuteng commented on #219
I got it, I will consider adding this feature later.

[2019-11-26 11:23] KannarFr opened #221 "Use environment variables"
It should be great to remove every configuration from files and use environment variables, then list them in the README with specify which is optional ormandatory.

I will make a PR of it.

[2019-11-27 02:01] one70six commented on #220
Awesome @tuteng, looking forward to it!

[2019-11-27 13:01] KannarFr opened #224 "enable http -> https to redirection"
Is it possible to have a configuration that enable redirections from http to https on front and back? :)

[2019-11-27 13:35] tuteng commented on #224
Currently, the forwarding of HTTP is hardcoded in the code https://github.com/apache/pulsar-manager/blob/master/src/main/java/org/apache/pulsar/manager/zuul/EnvironmentForward.java#L79. If broker turns on https, there may be a forwarding problem. I will try to fix this problem when supporting TLS authorization https://github.com/apache/pulsar-manager/issues/14.

[2019-11-27 13:41] tuteng commented on #216
Docker image is now available https://hub.docker.com/r/apachepulsar/pulsar-manager

[code]

[2019-12-02 09:21] ChangWinde commented on #214
@hbgongen Do you have workarounds？I meet something the same as yours. I can add a topic, add a namespace .etc but I can't delete a certain topic or namespace and can't create a new tenant!

[2019-12-02 09:37] tuteng commented on #214
Please first try check pulsar-manager.log:

second:

[code]

The following results are correct:
[code]
Your network should be connected to serviceUrl's network.
@ChangWinde

[2019-12-03 01:29] ChangWinde commented on #214
@tuteng I do what you said and the result following
./bin/pulsar-admin clusters list
pulsar-cluster

./bin/pulsar-admin clusters get pulsar-cluster
{
  "serviceUrl" : "http://pulsar.cluster.com:8080",
  "serviceUrlTls" : "https://pulsar.cluster.com:8443",
  "brokerServiceUrl" : "pulsar://pulsar.cluster.com:6650",
  "brokerServiceUrlTls" : "pulsar+ssl://pulsar.cluster.com:6651"
}

It seems nothing

[2019-12-03 01:46] tuteng commented on #214
Is this `http://pulsar.cluster.com` your broker's domain name and can you access it?
Please test it use the command:

[code]

If these two domain names are set incorrectly, please use the `./bin/pulsar-admin clusters update` command to update them to be correct.

[code]

[2019-12-03 02:54] ChangWinde commented on #214
it seems to work! thanks for your help!

[2019-12-03 10:05] sky-big opened #225 "Configuring environment through environment variables"
It would be good to provide a default environment broker for K8s. then pulsar-manager will connect to it at start time.

For example:
ENVIRONMENT=["broker1", "broker2"]
@tuteng @wolfstudy

Pulsar Operator want to set default broker to pulsar manager.

[2019-12-04 02:03] ChangWinde commented on #214
@tuteng I have another question. I find a label 'BOOKIE' in managing cluster, but I can't find any data about bookies. Is it unfinished or I did something wrong

[2019-12-04 02:26] tuteng commented on #214
Yes, we will add the management feature of the bookie in the future.

[2019-12-09 10:12] jiazhai commented on #225
Seems this is more of a enhancement, not impact user to use this.  mark it as help-wanted

[2019-12-09 10:16] jiazhai commented on #224
This is a sub issue for #226

[2019-12-09 10:16] sky-big commented on #225
Yes, it is.

[2019-12-09 10:17] jiazhai commented on #224
we need to provide a schema that support for http/https.

[2019-12-09 10:18] jiazhai commented on #221
@KannarFr Thanks for taking care.  Will you provide a fix for this?

[2019-12-09 10:19] jiazhai commented on #220
This is dup to #224 would like to close this.

[2019-12-09 10:19] #220 closed

[2019-12-09 10:22] jiazhai commented on #214
@tuteng how about provide some doc for this kind of FAQ? We could use this issue to track the documentation?

[2019-12-09 10:22] jiazhai commented on #216
close this issue for it is resolved

[2019-12-09 10:22] #216 closed

[2019-12-09 10:29] jiazhai opened #232 "catch up with the features of pulsar dashboard"
This is a master issue to track catch up with the features of pulsar dashboard:
- sub
- unsub
- peek message

[2019-12-13 00:37] sijie opened #233 "pulsar-manager should be able to start with a default environment"
*Motivation*

When launching a pulsar-manager with a Pulsar cluster, it will be great that pulsar-manager can configure a `default` environment pointing to the broker cluster. This allows a helm chart automatically configuring pulsar-manager to point to the broker service.

[2019-12-13 01:48] sijie opened #234 "Allow pulsar-manager to use an external configuration to start when running in Docker"
*Motivation*

Currently, we only allow a few configuration settings to be overwritten using environment settings. It will be great that the pulsar-manager docker can use an external configuration.

[2019-12-25 15:52] #161 closed

[2019-12-25 15:53] #167 closed

[2019-12-26 07:46] tuteng commented on #234
This is fixed https://github.com/apache/pulsar-manager/pull/236/

[2019-12-26 07:46] #234 closed

[2020-01-02 09:44] tuteng opened #244 "[feature] Add a page feature for front end page"
Currently, we do not support paging at the front end. We hope to add a front-end paging feature.

![image](https://user-images.githubusercontent.com/1907867/71660870-5817a180-2d87-11ea-992b-47a2443fa3be.png)

Test:

Click the tenant button to create a tenant

[2020-01-02 15:17] shiv4289 opened #245 "[offload] Separate tile for offloaded data size per topic"
Add the offloaded data size for each topic on the storage page for topic here:
![image](https://user-images.githubusercontent.com/5674919/71674321-e64c5180-2da0-11ea-94f0-e9fcc8b185f2.png)

[2020-01-13 09:15] #233 closed

[2020-01-14 06:10] sijie commented on #225
This is fixed by #242

[2020-01-14 06:10] #225 closed

[2020-01-14 12:03] sijie commented on #58
CI has been added.

[2020-01-14 12:03] #58 closed

[2020-01-16 05:49] shustsud commented on #14
@tuteng

Is there any update about Other than JWT?
 - https://github.com/apache/pulsar-manager/pull/203

I'm thinking to implement another authentication between BE and Brokers. (TLS, Athenz, etc.)

[2020-01-21 06:27] shustsud opened #249 "[Refactoring] Use Pulsar Admin instead of HttpUtil"
Http request between BE and Brokers use [HttpUtil class](https://github.com/apache/pulsar-manager/blob/master/src/main/java/org/apache/pulsar/manager/utils/HttpUtil.java).
I think it's better to use [PulsarAdmin class](https://github.com/apache/pulsar/blob/master/pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java).

It has the following advantages:
- BE does not need

[2020-01-21 14:36] tuteng commented on #249
You are right, I think most of the requests below can be implemented by pulsar-admin in https://github.com/apache/pulsar-manager/tree/master/src/main/java/org/apache/pulsar/manager/service/impl, but I suggest to keep the class `HttpUtil`, because it is very convenient to have an Http client at some time. @shustsud

[2020-01-22 05:53] shustsud commented on #249
@tuteng
Yes, I don't think it is necessary to delete the HttpUtil class.
Is it OK to use Pulsar Admin instead of HttpUtil in [Service class](https://github.com/apache/pulsar-manager/tree/master/src/main/java/org/apache/pulsar/manager/service/impl)?

[2020-01-22 11:44] agilob opened #250 "Pulsar-manager sends requests to invalid subdirectory"
My config:

[code]

When i try to navigate anywhere in the manager I see this error:

![Screenshot_20200122_114226](https://user-images.githubusercontent.com/2544251/72891487-4123f980-3d0c-11ea-8281-2c1d63d83f5a.png)

![image](https://user-images.githubusercontent.com/2544251/73015074-45870a00-3e13-11ea-9900-84d2b3a0d8b5.png)

It tries to request data from:

`https://pulsar.XXXX.org/pulsar-manager

[2020-01-22 11:45] agilob opened #251 "Error status code is incorrectly handled on frontend"
:)

![image](https://user-images.githubusercontent.com/2544251/72891683-ac6dcb80-3d0c-11ea-9a1d-36509b6d052f.png)

[2020-01-22 12:28] tuteng commented on #250
Did you turn on https? It seems that you haven't increased support for https yet? @agilob

[2020-01-22 12:29] tuteng commented on #249
Yes, you are right.

[2020-01-22 12:55] agilob commented on #250
pulsar manager is behind traefik with tls enabled

[2020-01-26 17:04] sijie opened #252 "java.lang.IllegalArgumentException: Negative initial size: -1"
Following error can be seen in the logs of the pulsar manager:

[code]
It happens when the pulsar manager tries to communicate to the broker via the pulsar proxy.  Proxy is working just fine when producing and consuming messages via python client code. The pulsar manager UI just spins.

Possibly similar issue to https://github.com/streamnative/pulsarctl/pull/157

[2020-01-26 17:04] sijie commented on #252
This is copied from apache/pulsar#6141

[2020-01-26 17:16] sijie commented on #250
@agilob did you figure out the problem?

[2020-01-26 19:39] agilob commented on #250
No, there is no log in pulsar-manager, error is always 500. I tried to visit the failing URL from browser address bar, but it failed with 'unauthorized' error. Haven't gone any further than that. I might look into this later with postman or other tool. There must be some unlogged exception in pulsar-manager...

[2020-01-27 15:58] sde-melo commented on #224
If it can helps someone, here is what I did to allow https redirection : https://github.com/Singlespot/pulsar-manager/commit/ef46449c07ac25a014df8ede031050406c546f9b.  Our Pulsar manager is behind a AWS load balancer that handles TLS.

[2020-01-27 16:42] KannarFr commented on #224
Sure can you create PR upstream? :)

[2020-01-27 17:03] sde-melo commented on #224
I have just noticed that our repo is not at all up-to-date. Moreover I am not sure that our changes covers all cases. But OK for the PR when it works again.

[2020-01-31 00:48] david-streamlio opened #253 "Unable to add TLS secured environment"
When I attempt to enter a url with https:, e.g. "https://localhost:8443" on the new environment box, I get an error.

![Screen Shot 2020-01-30 at 4 46 37 PM](https://user-images.githubusercontent.com/35466513/73503130-3a3a5e00-4380-11ea-947b-8ce32d005460.png)

Please allow the manager to support TLS secured Pulsar clusters

[2020-01-31 00:51] david-streamlio opened #254 "Delete Topic doesn't work"
When I select a topic in the UI and click on delete and confirm, the UI just hangs and the pop-up window remains visible.

![Screen Shot 2020-01-30 at 4 49 11 PM](https://user-images.githubusercontent.com/35466513/73503259-a4530300-4380-11ea-8a92-b69616814bc1.png)

The topic is not deleted, and the entire process has no effect on the topic

[2020-01-31 14:30] KannarFr commented on #224
@sde-melo so what we do? ;)

[2020-01-31 16:10] shea-engagio opened #255 "Documentation needs to state how to connect to standalone"
Using `host.docker.internal`

[2020-02-01 02:53] tuteng commented on #252
@roman-popenov Can you try this https://github.com/apache/pulsar-manager/issues/214

[2020-02-03 01:35] tuteng commented on #250
@agilob  Have you used your own pg database?

[2020-02-03 09:01] agilob commented on #250
I created database for pulsar-manager in a separate docker postgresql container and configured pulsar-manager with as above:

[code]

`postgres` is hostname of postgresql docker container.
No tables are created in the database:

[code]

but user has permissions to create tables and columns:
[code]

Pulsar-manager is instructed to put /data directory on a recoverable storage with config for volumes

[2020-02-03 09:03] agilob commented on #250
Seems like it completely ignores my config and always uses internal database.

[2020-02-03 09:22] tuteng commented on #250
You can try to get into the container and look at the environment variables.
Is the name of the database pulsar-manager or pulsar? @agilob

[2020-02-03 09:30] agilob commented on #250
[code]

`REDIRECT_HOST` is correct too.

I can use psql inside pulsar-manager and connect to my database server using details provided in docker-compose

[2020-02-03 09:38] tuteng commented on #250
Can you search the log for keywords related to the database, such as `url`, `datasource` @agilob

[2020-02-03 09:43] tuteng commented on #250
If the user uses his own database, he needs to copy the SQL statement in this file https://github.com/apache/pulsar-manager/blob/branch-0.1.0/docker/init_db.sql to create the table. @agilob

[2020-02-03 09:45] agilob commented on #250
[code]
[code]
[code]

[2020-02-03 09:52] agilob commented on #250
I reconfigured pulsar-manager to use `pulsar_manager` database (same name as in the script you provided me with above)

Created user and DB:
[code]

Changed docker-compose to use this url
[code]

Start pulsar-manager, but still no tables are created in my specified database

[code]

User is still able to create tables there:

[code]

[2020-02-03 10:00] agilob commented on #250
Ok, I created the tables manually in my PSQL server, stopped and removed pulsar-manager docker, recreated it again and frontend is no longer throwing errors.

Either documentation should say to create the tables manually, or it should do it automatically :)

[2020-02-03 10:02] agilob commented on #250
![image](https://user-images.githubusercontent.com/2544251/73643874-35b9c200-466c-11ea-8e8a-e3f78bfacec3.png)

[2020-02-03 10:02] agilob commented on #250
![image](https://user-images.githubusercontent.com/2544251/73643918-479b6500-466c-11ea-8fa1-72a210f0c525.png)

Nice, thanks for you help, happy Monday!

[2020-02-03 10:03] tuteng commented on #250
Yes, the current automatic creation is on the local database. If you use an external database, you need to manually execute SQL statements. The scripthttps://github.com/apache/pulsar-manager/blob/branch-0.1.0/docker/entrypoint.sh is actually executed includes creating users, creating databases, creating tables, authorizing, etc. However, we assume that the user has already completed these operatio

[2020-02-03 10:07] tuteng commented on #253
I am very sorry that this feature has been delayed for too long. I will spend some time to fix this one recently. @david-streamlio

[2020-02-03 10:42] tuteng commented on #250
This problem has been solved, close it.

[2020-02-03 10:42] #250 closed

[2020-02-04 02:25] skyrocknroll opened #257 "Expose lastConsumedTimestamp and lastAckedTimestamp to subscription stats"
https://github.com/apache/pulsar/issues/6046

[2020-02-04 13:06] tuteng commented on #251
The same with https://github.com/apache/pulsar-manager/issues/250, close it

[2020-02-04 15:11] agilob commented on #251
It's not the same, any other error/crash on backend makes frontend behave this way. What this describes is how error on backend is handled on frontend. From screenshot it clearly shows it's not handled nicely. Showing HTML code instead description of error? What are users supposed do it with it? Copy content, paste into index.html and open in a browser tab to read it?

[2020-02-04 20:43] agilob commented on #251
![image](https://user-images.githubusercontent.com/2544251/73785290-ecae5e80-478e-11ea-87e5-78d677fef30b.png)

[2020-02-05 03:03] tuteng commented on #251
Got it, reopen it.

[2020-02-05 03:11] tuteng commented on #251
Can you show some more detailed information, such as which page, which operation to perform, this error seems to be thrown in multiple places in pulsar? https://github.com/apache/pulsar/issues?utf8=%E2%9C%93&q=badversion

[2020-02-05 08:39] agilob opened #259 "zookeeper.KeeperException$BadVersionException: KeeperErrorCode = BadVersion Stacktrace: java.util.concurrent.CompletionException:"
This happens when I click on heartbeat first time:

![image](https://user-images.githubusercontent.com/2544251/73824444-1351b100-47f2-11ea-9e87-64b611ebf05e.png)

Any subsequent click on heartbeat does **not** cause this exception. First click in several minutes  after last one **does**.

`--- An unexpected error occurred in the server --- Message: org.apache.pulsar.client.api.PulsarClientExceptio

[2020-02-05 08:39] agilob commented on #251
Content of the error is unrelated to what this issue is about so I opened new issue for the badVersion exception #259

[2020-02-05 08:45] agilob commented on #259
As this error is visible on frontend, the following logs are added to pulsar-manager.log in docker (not visible with `docker logs`) - logs partially censored to protect myself

[code]

[2020-02-05 08:52] tuteng commented on #259
I remember this problem has been fixed here https://github.com/apache/pulsar/pull/5563. Can you test it locally with the following command? You can try to execute it many times.

[code]
@agilob thanks

[2020-02-05 09:03] agilob commented on #259
pulsar-manager doesn't seem to contain `curl` so i executed it in pulsar (broker) twice

[code]

[2020-02-05 09:32] tuteng commented on #259
Yes, what I mean is to use tool `curl` for testing. I have not reproduced this problem locally. are you using a version 2.5.0 container, is this broker on your IP 172.28.0.3 version 2.5.0, can you try to execute this command many times? for service pulsar-manager, this API is actually called. @agilob

[2020-02-05 09:34] tuteng commented on #251
Can the top error be reproduced and can more detailed information be displayed, such as pulsar-manager's log? @agilob

[2020-02-05 09:44] agilob commented on #259
[code]

Pulsar broker image:
[code]

I executed it many times, only first execution causes error:
[code]

[2020-02-05 09:46] agilob commented on #251
The top level error was related to the database problem we solved before.

[2020-02-05 10:17] tuteng commented on #251
Can I close this？

[2020-02-05 10:20] tuteng commented on #259
Thank you, I will try to reproduce and fix it. @agilob

[2020-02-05 10:58] agilob commented on #251
Scroll up to https://github.com/apache/pulsar-manager/issues/251#issuecomment-581955745

[2020-02-05 10:59] agilob commented on #259
If you would create a confidential channel somewhere I could post you my docker-compose for the cluster. Would that help?

[2020-02-05 11:06] tuteng commented on #259
Thank you @agilob. I don't need it. It's similar to this one apache/pulsar#6229. I may need to take a moment to see it

[2020-02-06 01:42] tuteng commented on #232
Now the features of the dashboard have been realized on pulsar-manager.

[2020-02-06 01:42] #232 closed

[2020-02-07 02:40] jiazhai commented on #255
Thanks @shea-engagio for the working on this issue.

[2020-02-09 04:55] vshulkin opened #260 "Token Creation generates error Token gennerate failed"
I can't create tokens from pulsar-manager.  New Token screen generates error
Token gennerate failed.  Authn/Authz enabled and secret key JWT token was setup.  Please help.

[2020-02-09 10:36] tuteng commented on #260
Can you show me more detailed information? for example, is it based on image construction or self-build project base master code? Can't you click on the page, can't generate tokens? Is the cluster or standalone environment used? Has JWT authentication been enabled for the cluster, and can it be accessed normally with pulsar-admin? Thanks to @vshulkin

[2020-02-09 18:43] vshulkin commented on #260
Hi I am using both docker image 2.4.0 and 2.5.0 and packaged distribution.
JWT enabled and I can access the cluster. I used both standalone and
cluster environment. So everything works fine with the exception of token
generation.

On Sun, Feb 9, 2020, 5:36 AM Guangning <notifications@github.com> wrote:

[2020-02-10 01:44] vshulkin commented on #260
![Capture1](https://user-images.githubusercontent.com/12044899/74115368-f106bd00-4b7c-11ea-9fe7-6dff47530051.JPG)
![Capture2](https://user-images.githubusercontent.com/12044899/74115369-f237ea00-4b7c-11ea-8893-f7b904da7d92.JPG)
![Capture3](https://user-images.githubusercontent.com/12044899/74115370-f237ea00-4b7c-11ea-8f05-8dc84c9179a3.JPG)

[2020-02-10 01:50] vshulkin commented on #260
I don't see any http requests hitting broker when I press generate the token.  I assume it suppose to trigger REST API call.

[2020-02-10 01:55] tuteng commented on #260
Do you start the service according to the following method https://github.com/apache/pulsar-manager/tree/master/src#enable-jwt-auth, have you configured this option `backend.jwt.token=token` @vshulkin

[2020-02-10 17:34] #14 closed

[2020-02-10 20:24] vshulkin commented on #260
Yes.  Token was enabled.

export SECRET_KEY=data:base64,WnBwcHdrvwk197xbpoI8SEPp5FNOf7QGPOvhtDxVXzA=
export JWT_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbiJ9.52xJy4uz5C0mtuuQCpciqhngq-l4YmGIFkzt88ACFkc

docker run -it -p 9527:9527 -e REDIRECT_HOST=http://192.168.55.182 -e REDIRECT_PORT=9527 -e DRIVER_CLASS_NAME=org.postgresql.Driver -e URL='jdbc:postgresql://127.0.0.1:5432/pulsar_manager' -e USE

[2020-02-10 20:32] vshulkin commented on #260
I think I found an issue.  jwt.broker.token.mode=SECRET has to be set

[2020-02-11 13:27] sde-melo commented on #224
@KannarFr I merged the last changes and have been unable to add an environment ever since because "User does not have permission to operate" so I couldn't test. In the meantime I had to switch to another subject.

[2020-02-11 15:02] tuteng commented on #224
@sde-melo At present, in the latest code, pulsar-manager uses the database to manage users instead of configuration files. The superuser needs to be initialized at the first startup. I think you can solve this problem by initializing users.  https://github.com/apache/pulsar-manager#preparation

[code]

[2020-02-12 00:39] rohitbacknan opened #261 "pulls manager error at New Environment"
Pulse manager is continuously throwing error:
{"error":"This environment is error. Please check it"}.
Cannot even move ahead to next page

[2020-02-12 01:00] rohitbacknan commented on #261
Issue exists with the docker image

[2020-02-12 01:51] tuteng commented on #261
This problem usually occurs when you enter the environment for the first time. It seems that your `serviceUrl` is not configured correctly. It should be prefixed with `http`, and ensure that the machine of system pulsar-manager is connected to the network of your Pulsar cluster. @rohitbacknan

[2020-02-12 02:02] tuteng commented on #260
Have you solved the problem? Can we close the issue? @vshulkin Thanks.

[2020-02-12 02:58] vshulkin commented on #260
Yes. I resolve the issue. However I recommend to update the instructions
and supervisord-secret-key.conf file and include
jwt.broker.token.mode=SECRET into the startup line. Because there is no way
to pass this through env variable to docker run.

On Tue, Feb 11, 2020, 9:02 PM Guangning <notifications@github.com> wrote:

[2020-02-12 02:59] vshulkin commented on #260
This line should be

command = /pulsar-manager/pulsar-manager/bin/pulsar-manager  --redirect.host=%(ENV_REDIRECT_HOST)s --redirect.port=%(ENV_REDIRECT_PORT)s --spring.datasource.driver-class-name=%(ENV_DRIVER_CLASS_NAME)s --spring.datasource.url=%(ENV_URL)s --spring.datasource.username=%(ENV_USERNAME)s --spring.datasource.password=%(ENV_PASSWORD)s --spring.datasource.initialization-mode=never --lo

[2020-02-12 03:03] tuteng commented on #260
@vshulkin Thank you for your feedback. Can you help me with open a PR to fix this problem?

[2020-02-12 03:56] rohitbacknan commented on #261
Thank you so much. I deployed the docker image and service url had to be provided for the local system ip.

[2020-02-12 03:56] #261 closed

[2020-02-12 04:51] vshulkin commented on #260
Opened the PR.

On Tue, Feb 11, 2020 at 10:03 PM Guangning <notifications@github.com> wrote:

[2020-02-12 10:22] sde-melo commented on #224
@tuteng Thank you!  I had to make a few changes on docker/init_db.sql (https://github.com/Singlespot/pulsar-manager/commit/b2e411cfc2d77915abfc52e02423ebeb88aacf70) but I finally got it to work!

[2020-02-12 10:31] tuteng commented on #224
I haven't updated the docker script yet. Now that you have succeeded, can you raise a pull request to improve this? @sde-melo Thanks

[2020-02-12 11:02] sde-melo commented on #224
@tuteng It's done: https://github.com/apache/pulsar-manager/pull/263

[2020-02-13 00:48] #260 closed

[2020-02-13 01:40] shustsud commented on #249
@tuteng
[EnvironmentForward class](https://github.com/apache/pulsar-manager/blob/master/src/main/java/org/apache/pulsar/manager/zuul/EnvironmentForward.java) and [Controller class](https://github.com/apache/pulsar-manager/tree/master/src/main/java/org/apache/pulsar/manager/controller) receive HTTP from FE.
How does FE differentiate [EnvironmentForward class](https://github.com/apache/pulsar-manage

[2020-02-14 02:52] tuteng commented on #249
[EnvironmentForward class](https://github.com/apache/pulsar-manager/blob/master/src/main/java/org/apache/pulsar/manager/zuul/EnvironmentForward.java) will forward most of the requests directly to the broker,
[Controller class](https://github.com/apache/pulsar-manager/tree/master/src/main/java/org/apache/pulsar/manager/controller) deals with information that needs to be aggregated, such as paging,

[2020-02-14 05:42] shustsud commented on #249
@tuteng
Thanks for your comment.
I understood the above.

[2020-02-14 14:09] sde-melo commented on #224
I had nothing to change with the latest code.  It worked out of the box, without even having to set redirect.scheme to https.

[2020-02-18 04:04] rvashishth opened #266 "app assets are not accessible behind nginx proxy on kubernetes"
[Similar issue on another pulsar-dashboard](https://github.com/bbonnin/pulsar-express/issues/19).

Pulsar-manager web dashboard never loads up when we host pulsar-manager behind an LB/Proxy service with a url slug.

It looks like all the static contents are loaded from the absolute path instead of the relative path.

[2020-02-24 13:06] KannarFr commented on #224
@tuteng what is the status? :)

[2020-02-27 10:59] eolivelli opened #269 "Run static frontend HTML files from the embedded SprintBoot server"
Currently we need two separate web servers to run Pulsar Manager.
It would be more user friendly to run only a single process.
As we are already starting a webserver for the backend it would be super easy to map the static content inside "dist" to an HTTP path.

This is what we are doing in [BookKeeper Visual Manager](https://github.com/diennea/bookkeeper-visual-manager).

This way with a single c

[2020-03-01 08:52] tuteng commented on #269
I'm very sorry for the late reply, this is a very good feature, very welcome to contribute. @eolivelli

[2020-03-04 01:53] oeegee opened #270 "No delete, No unload and clear."
Dear developers,
I'm installing and testing now trying to use pulsar.
Successfully installed pulsar and pulsar manager and even ran.
However, in pulsar-manager I can't make any updates.

The error message is as follows:

It is created, but not deleted or updated.
cluster, tenant, namespace, and topic are all equivalents.

Here are error message in pulsar-manager backend:
**(truncated address)**
`2

[2020-03-04 02:29] sijie commented on #270
@oeegee current it doesn't support multi-hosts service url.

[2020-03-04 02:29] sijie commented on #270
Can you change the service url to single host service url?

[2020-03-04 08:18] eilonk commented on #253
any estimate to when this would be resolved?

[2020-03-06 10:34] sijie commented on #270
@oeegee

You can use `bin/pulsar-admin clusters update` command to change the web-service-url for that cluster. Because pulsar-manager will read the cluster configuration and use that `web-service-url` to access the cluster.

[2020-03-07 14:57] liyuntao opened #271 "Wired folder permission on my Kubernetes environment. The /tmp folder become 1755 after emptyDir mounted."
Hey guys, I met a strange question: last week while I was trying to run pulsar-manager on my own environment(by Helm), there's an error occurred, PG cannot start normally.

Firstly, the `entrypoint.sh` will generate some init-files, create a non-root user, then switch to a non-root user `pulsar` to startup a PostgreSQL inside the container. When PG try to start on non-root user, "Permission Denied

[2020-03-09 07:17] oeegee commented on #270
@sijie , OK.
I solved the problem using L4 VIP based on what you told me.
Thank you~!

[2020-03-09 07:17] #270 closed

[2020-03-15 15:44] yosiat opened #272 "Postgresql Schema issues - no AUTO_INCREMENT"
Hi!

I tried running up pulsar-manager with docker on mac, but the networking issues won and I am trying to run on my computer with Gradle and etc.

The PostgreSQL schema file has `AUTO_INCREMENT` which isn't supported by PostgreSQL.
I see there are two schema files and one is correct while the other is wrong -
* https://github.com/apache/pulsar-manager/blob/master/src/main/resources/META-INF/sql/

[2020-03-16 01:59] #272 closed

[2020-03-16 03:48] tuteng opened #274 "Handle broker 307 redirect"
In pulsar, each topic is handled by a broker. Therefore, for creating, updating and deleting topics, requests will be sent to any broker. If the broker finds that it cannot handle the request of this topic, it will return a 307 and redirect it to the correct broker. In pulsar-manager, the current redirection is handled by the front end. There are some unreasonable points in this:

1. Expose too mu

[2020-03-18 03:49] zxbfeng opened #275 "Multi user login in with the same user will force exit"
Multi users login in with the same account will  force exit.

[2020-03-18 14:41] tuteng commented on #275
Yes, this is the expected behavior. One account and password cannot be logged in at multiple places at the same time. If you want to use multiple accounts, you should use super users to create different accounts. @zxbfeng https://localhost:9527/#/users

[2020-03-18 15:06] zxbfeng commented on #275
Thank you ! https://localhost:9527/#/users  this  page  always flash by，try many times can remain at this page, and I add a new user account  then login in , the page is http://localhost:9527/#/404

[2020-03-18 17:37] sde-melo commented on #275
Same behaviour for me. Besides a tenant with the same name is created.

[2020-03-19 03:02] zxbfeng opened #276 ""https://localhost:myport/" .Is the host should only be localhost ??"
I have found the hostname 'localhost' I changed to other name, some operations in the pulsar-manager is invalid,  it is use the 'localhost:myport' for the request

[2020-03-20 07:47] tuteng commented on #275
@zxbfeng @sde-melo Which version is used, is it the latest code or 0.1.0? The latest version already supports user management.

[2020-03-20 08:01] tuteng commented on #276
Can you explain it in detail, localhost refers to pulsar-manager's domain name or broker's service_url, if possible, it can be shown in screenshots? @zxbfeng

[2020-03-20 08:05] zxbfeng commented on #275
the latest. I use the user management to add some other user accounts, but the new added user when I use it to login in ,it displays the&nbsp;http://hostname/#/404 pages

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "guangning"<notifications@github.com&gt;;
发送时间: 2020年3月20日(星期五) 下午3:47
收件人: "apache/pulsar-manager"<pulsar-manager@noreply.github.com&gt;;
抄送: "雨的记忆"<261045585@qq.com&gt;;

[2020-03-23 22:33] kdawgwilk opened #278 "Creating first environment succeeds but throws 500"
When creating the first environment after spinning things up with either the published docker image or the latest from master I attempt to create the first environment and it throws an error even though creating the environment worked.  After a refresh it shows up in the list. Error thrown:

[code]

[2020-03-23 23:18] kdawgwilk opened #279 "Unable to get a functioning docker-compose setup working with pulsar-manager"
I am working on spinning up both `pulsar` and `pulsar-manager` together using docker-compose and I can get both of them up and running but many things appear to be broken.  I am unable to load clusters or create them.  I
`docker-compose.yml`
[code]
Then open `pulsar-manager` in browser at http://localhost:9527 login with:
- user: `pulsar`
- pass: `pulsar`
Create an environment:
- Name: `docker`
-

[2020-03-24 03:45] zymap opened #280 "Can not process request by pulsar proxy"
When using pulsar manager by accessing the pulsar proxy, there are some requests can not handle correctly.

[code]

[2020-03-24 05:58] #280 closed

[2020-03-25 13:42] tuteng commented on #278
You can try to troubleshoot the problem according to this. I think this problem may be related to the service URL configured by your cluster. https://github.com/apache/pulsar-manager/issues/214 @kdawgwilk

[2020-03-26 06:08] tangshihui opened #282 "Could we add a dashboard in the home page ?"
In the dashboard, we can display the statistics:

- Total clusters
- Total tenants
- Total namespaces
- Total topics
- Total producers
- Total consumers
- Total brokers
- Total bookies

[2020-03-27 02:48] tuteng commented on #282
Yes, I think this is a good idea. I'll mark it help-wanted first. If anyone wants to do it, please refer to the following step.

1. Get the total number of `cluster`, `tenant`, `namespace`, `topic`, `producer`, `consumer`, `broker` and `bookie`, refer to this implementation https://github.com/apache/pulsar-manager/blob/master/src/main/java/org/apache/pulsar/manager/mapper/TopicsStatsMapper.java.
2

[2020-03-27 14:37] mikayeln opened #283 "Pulsar Manager keeps saying "This environment is error. Please check it""
OS:
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.4 LTS
Release:	18.04
Codename:	bionic

Hi,
I have Pulsar instance running in standalone mode.
Also I started Pulsar-Manager with docker. Here is the command line:
`docker run -it -p 9527:9527 -e REDIRECT_HOST=http://127.0.0.1 -e REDIRECT_PORT=9527 -e DRIVER_CLASS_NAME=org.postgresql.Driver -e URL='jdbc:postgresql://127.0.0.1:5432/pulsar_manager'

[2020-03-28 15:41] tuteng commented on #283
Please check whether your broker's network is connected and whether your service URL is port 8888? @mikayeln

[2020-03-28 15:55] mikayeln commented on #283
@tuteng Thanks for reply.
URL port is 8888.
I'm able to connect to pulsar from pulsar java client.
Also, I checked the code of manager and found out that error occurs on GET request to /metrics.
From browser I was able to get the metrics.

[2020-03-29 09:37] tuteng commented on #283
I think you should try to check whether you can connect to the pulsar cluster in the container running `pulsar-manager`. @mikayeln

[code]

[2020-04-01 10:28] sivavijay13 opened #284 "Pulsar Manager UI not working"
![image](https://user-images.githubusercontent.com/46527272/78127268-77c77000-7431-11ea-91f3-ad3216c06add.png)
after starting pulsar manager when i access it it shows 500 error only not loading configured details

[2020-04-01 12:39] tuteng commented on #284
Please check pulsar-manager.log @sivavijay13

[2020-04-03 22:08] mehran-prs commented on #283
it's because _pulsar_  and _pulsar-manger_ runs in different containers with theirself localhosts (each container just know itself `localhost`).
you should either run these two containers in one network using something like docker composer, or set `--network host` in your command, something like this:
[code]

[2020-04-09 21:20] sijie commented on #259
@agilob I think the problem was fixed by #6683

[2020-04-09 21:25] sijie commented on #254
@david-streamlio did you see any error in the pulsar manager log?

[2020-04-09 21:26] sijie commented on #253
@eilonk this feature has been implemented in #258.

@tuteng we should consider cutting a release for pulsar-manager.

[2020-04-09 21:26] #253 closed

[2020-04-09 21:37] sijie commented on #266
@rvashishth do you have an example how do you set up the LB/proxy?

[2020-04-09 21:59] sijie commented on #276
@zxbfeng Are you able to provide the changes you did?

[2020-04-09 22:00] sijie commented on #269
@eolivelli +1 for the idea

[2020-04-09 22:06] sijie commented on #271
@liyuntao thank you for reporting this! It looks interesting. @tuteng do you know why pulsar-manager writes files to /tmp directory?

[2020-04-09 22:16] sijie commented on #284
@sivavijay13 Are you able to find any errors in the pulsar-manager.log? Or can you provide more details about it?

[2020-04-09 22:22] sijie commented on #283
@mehran-prs thank you for the comment!

It would be great if we can add this example to README. Are you interested in contributing a fix?

[2020-04-10 05:04] eolivelli commented on #269
I will do.
I will try to spend some time in the weekend, hopefully we could include this change in the upcoming release

[2020-04-10 08:50] agilob commented on #259
release it then :)

[2020-04-10 10:45] sijie commented on #259
@agilob we are including it in pulsar 2.5.1 release.

[2020-04-10 17:53] david-streamlio commented on #254
No I did not. Sorry

[2020-04-12 19:08] Gurpartap opened #289 "HerdDB support in docker image `apachepulsar/pulsar-manager`"
Using HerdDB should be the default and recommended method with the docker image as well. Especially because we all also have zookeeper and bookkeeper already. Introducing postgresql to this mix is worrisome.

Currently, the `apachepulsar/pulsar-manager:v0.1.0` image forces a postgresql setup. Or, is there a workaround for using HerdDB with it instead?

[2020-04-12 19:59] eolivelli commented on #289
Do you want to replicate the HerdDB database or do you want to store data on a single volume?

The simplest way is to run it in embedded mode without Zookeeper/Bookkeeper.

You can use it cluster+embedded mode easily but I don't know how to do it with pulsar manager docker image.

I will check tomorrow and give you and example of the jdbc url.

[2020-04-12 20:16] eolivelli commented on #289
The URL should be something like this one:
https://github.com/apache/pulsar-manager/blob/86b74f53bdee9b698a58e21c2a2de003927e1300/src/main/resources/application.properties#L42

But with zookeeper reference.

When you start the service the first time it will create the first table space.

I think it is better that we provide out of the box support for this configuration in the next release of Pulsa

[2020-04-13 01:54] sijie commented on #289
@eolivelli can you help with this issue?

[2020-04-13 05:45] eolivelli commented on #289
Yes, as I told above

[2020-04-13 07:00] eolivelli commented on #289
I confirm that using this *spring.datasource.url* in application.properties allows you to start HerdDB embedded in clustermode

`spring.datasource.url=jdbc:herddb:zookeeper:localhost:2181/herd?server.start=true&server.base.dir=dbdata`

My problem is now to tell to the docker image to use this configuration.
Let me try to play with it, I am not using docker in production but we are starting the ser

[2020-04-13 07:02] eolivelli commented on #289
It looks like that with v1 image it is not possible to not start PostGRE DB
https://github.com/apache/pulsar-manager/blob/v0.1.0/docker/startup.sh

[2020-04-13 07:23] eolivelli commented on #289
I cannot build the docker image on current master.

@tuteng @sijie what is the correct procedure to build the Docker image ?

@tuteng @sijie can you please suggest where to put a new Dockerfile for the new image ?
Simply the work is about dropping PostGre SQL and configure the correct JDBC URL.

[2020-04-13 10:24] Gurpartap commented on #289
Ideally, I want the pulsar-manager deployment to be stateless. We should be able to run it anywhere in the cluster while linking it to a replicated database (since we already have zookeeper+bookkeeper for pulsar, using replicated herddb makes a lot of sense). It would also be beneficial if pulsar-manager image included herddb (= one less component to deploy).

[2020-04-13 10:58] eolivelli commented on #289
Currently Pulsar Manager bundles all of the components of HerdDB and you can really start it with full features.

As said before you could start PM and HerdDB service if you use the standard binaries without docker.

The provided Dockerfile start always PostGre.
I am trying to work on such Dockerfiles but I have a local problem with docker/podman.

I can share my code of you want to try to work on

[2020-04-13 12:30] eolivelli commented on #289
I should add that currently HerdDB uses BK as WAL and ZK as metadata store. You still have to have some additional persistent storage to hold data pages.

In HerdDB community we haven't implemented full diskless persistence simply because all workloads of current users do not require it.
We could use BK to store data pages and this feature is not difficult to implement.

Just to recap:
- with curr

[2020-04-14 09:25] sijie commented on #279
@kdawgwilk I have updated README to include a docker-compose example. https://github.com/apache/pulsar-manager#use-docker-compose Please check it out.

[2020-04-14 09:25] #279 closed

[2020-04-16 22:12] sijie commented on #224
This feature has been supported in #258

[2020-04-16 22:12] #224 closed

[2020-04-20 15:32] sijie opened #291 "Integrate bookkeeper visual manager"
*Motivation*

Integrate bookkeeper-visual-manager as part of pulsar-manager.

[2020-04-20 18:26] lsadehaan opened #292 "Manager doesn't show the Standalone cluster option for adding to tenant"
When trying to create a tenant on a standalone cluster (using the provided docker-compose deploy) there is no "standalone" cluster option for adding to a newly created tenant.

[2020-04-20 22:46] mino181295 commented on #291
Step we mentioned in the meeting:

- Deploy Bookkeeper Visual Manager on **Maven Central**.
- Create a **SSO** System against Pulsar Manager to have a single way to authenticate to the application.
- Integrate **Multi Tenancy** (as Pulsar Manager provides).

[2020-04-20 23:24] lsadehaan opened #293 "Errors in the log file regarding limit clause in SELECT"
Not sure if this has any real impact, but these errors are continuously appearing in the logs:
[code]

[2020-04-21 05:30] eolivelli commented on #293
Are you running Pulsar Manager  with PostGre?
Which version of PM?

[2020-04-21 10:08] #269 closed

[2020-04-21 10:09] tuteng commented on #293
@lsadehaan You can try to enable pagehelper.helperDialect=postgresql in file applicaiton.properties.

[2020-04-21 11:53] eolivelli commented on #269
@tuteng @sijie  thanks for merging the patch
we should now update the release procedure in a way that the frontend is copied inside the binary distribution tarball inside the 'ui' directory.

Any suggestion ? I can try to do this follow up change but I don't know where to start

[2020-04-21 13:42] lsadehaan commented on #293
I am running the docker-compose based version provided by pulsar-manager:
![image](https://user-images.githubusercontent.com/4754900/79872896-bf03a980-83bc-11ea-8f14-635f3109bc9b.png)

[2020-04-23 01:50] sijie commented on #292
@lsadehaan do you have any screenshot about the issue you are encountering?

[2020-04-23 06:12] lsadehaan commented on #292
Sure, here you go:
![image](https://user-images.githubusercontent.com/4754900/80065256-339b2d00-8510-11ea-927a-3d26a23d6257.png)

[2020-04-23 06:40] sijie commented on #292
@lsadehaan If you click "Clusters" tab, do you see any cluster there?

[2020-04-23 10:08] lsadehaan commented on #292
No I don't

[2020-04-27 06:18] Persi opened #294 "Docker Image breaks with standard rules and ignores external databases"
The currently available Docker image starts an internal postgres database in addition to frontend and backend services. As per standard advices to Docker images every image should run only one service. Which here means running frontend and backend in one image might probably be ok, as they represent that one service, but the postgres database should not be part of this image as it makes this image

[2020-04-27 07:32] Persi commented on #284
@sivavijay13 did you try to use an external database? That was the reason why i got this errors all the time, I opened #294 to clarify the current Docker image state.

[2020-04-27 11:16] sivavijay13 commented on #284
I was starting both pulsar & pulsar manager as docker image, After which I just naving to UI of pulsar manager where I got this error

[2020-04-27 12:47] Persi commented on #284
To get the logs of the internal backend on your local machine you could configure it like the following in your docker-compose file:

[code]

[2020-04-27 12:58] tangshihui opened #296 "Delete topic failed."
Response is 500, internal error.
1: why request to url:  http://ip:9527/admin/v2/persistent/akka-test/default/batch1_topic
why the port is 9527, why not 8080?
2, Response:
timestamp: "2020-04-27T12:55:37.483+0000"
status: 500
error: "Internal Server Error"
message: "Connect to localhost:8080 [localhost/127.0.0.1] failed: Connection refused (Connection refused)"

[2020-04-28 01:41] tuteng commented on #296
You can refer to this architecture diagram https://github.com/apache/pulsar-manager#apache-pulsar-manager, 9527 is the front-end service port, 8080 is the pulsar cluster service port.

You can try to debug according to this process: https://github.com/apache/pulsar-manager/issues/214 @tangshihui

[2020-04-28 01:42] tuteng commented on #254
You can try to debug according to this process: https://github.com/apache/pulsar-manager/issues/214 @david-streamlio

[2020-04-28 01:45] tuteng commented on #294
I think if you want to use a custom database, you need to initialize the table structure first. https://github.com/apache/pulsar-manager/tree/master/src#use-custom-databases @Persi

[2020-04-28 02:07] tangshihui commented on #296
@tuteng I reviewed the pulsar-manager.log. There are so many error logs:
2020-04-28 02:05:00.537 ERROR 39 --- [pool-2-thread-1] o.s.s.s.TaskUtils$LoggingErrorHandler    : Unexpected error occurred in scheduled task.

org.springframework.jdbc.BadSqlGrammarException:
### Error querying database.  Cause: org.postgresql.util.PSQLException: ERROR: LIMIT #,# syntax is not supported
  Hint: Use separate

[2020-04-28 02:21] tangshihui commented on #296
@tuteng  According to issue #214 , May be I had a wrong config:
/bin/pulsar-admin clusters get pulsar-cluster
{
  "serviceUrl" : "http://ip-1:8080",
  "brokerServiceUrl" : "pulsar://ip-1:6650,ip-2:6650,-ip-3:6650"
}
After update brokerServiceUrl to "pulsar://ip-1:6650", it works correctly.
Thanks !

[2020-04-28 05:09] Persi commented on #294
I know i could do that but that's exactly the point where this Docker Image breaks with standards. It always initializes and starts it's internal PgSQL Instance which I don't even want to use. Instead it could initialize my external DB as I have to configure a database URL with user and password in environment, so the Image has all information to initialize my database automatically an don't even

[2020-04-28 06:23] tuteng commented on #294
Thank you for your feedback. We will consider optimizing this later. @Persi

[2020-04-29 12:57] #296 closed

[2020-05-02 16:07] eolivelli commented on #289
@Gurpartap
I have drafted an implementation of diskless HerdDB here
https://github.com/diennea/herddb/pull/597

Probabily it will be available on HerdDB 0.16.0 (next major release)
We should update to that version Pulsar Manager

[2020-05-07 11:00] Andreby42 opened #297 "Question:how to change the default login account and password"
I‘m a newer of Pulsar,so as the pulsar-manger,
I deploy my pulsar server  on the K8S,
But I don't want to use the default pulsar-manger login account:pulsar and the password pulsar,
I saw the doc like this:

https://github.com/apache/pulsar-manager/blob/master/src/main/resources/application.properties

So how could I change the default login password and account?

[2020-05-07 11:01] Andreby42 commented on #297
sorry about my english

[2020-05-08 02:34] tuteng commented on #297
You can try this image https://hub.docker.com/layers/streamnative/pulsar-manager/0.3.0/images/sha256-56fd8cd6fb5fcc3db4e50c216216b1fbb50533339ea20db6d2048eae98b6ee69?context=explore and use this command to initialize the account and password after deployment.
[code]

Reference: https://github.com/apache/pulsar-manager#access-pusar-manager
@Andreby42

[2020-05-08 04:57] Andreby42 commented on #297
thank u . I will try it

[2020-05-08 06:17] lijilina commented on #297
This port is the port of that service

[2020-05-09 05:01] Andreby42 commented on #297
Do U mean  which  service  does  the port belongs to?

[2020-05-15 16:57] rueian opened #299 "Unable to get anything about a partition: TypeError: Cannot read property 'status' of undefined"
Hi, it seems that my pulsar-manger can't get anything about a topic partition:

![image](https://user-images.githubusercontent.com/2727535/82075937-9e0a4c00-970f-11ea-880d-3904a2b34683.png)

logs of my pulsar-manager:
[code]

Please help me to find out the problem, thank you.

[2020-05-18 02:15] jiazhai commented on #299
@rueian How is the topic created? And which version is running in broker side? Looks like topic is not auto created.

[2020-05-18 03:35] rueian commented on #299
I am running pulsar 2.5.1, manager 0.1.0, and I am sure the topic is auto created. I can run pulsar-admin to get its info.

[2020-05-18 20:45] sijie commented on #299
@rueian which database are you using? MySQL or Postgres?

[2020-05-21 03:12] rueian commented on #299
Hi @sijie

I think it is PostgreSQL. I am using this configuration:
https://github.com/apache/pulsar/blob/master/deployment/kubernetes/helm/pulsar/values.yaml#L887

I am also wondering why a MySQL or a PostgreSQL is required to run a pulsar-manager? I was expected that the pulsar-manager was just a http client to pulsar cluster.

[2020-05-21 03:38] sijie commented on #299
@rueian it is using a JDBC database to collect and store stats. besides topic stats, it just forwards HTTP requests to pulsar cluster.

@tuteng can you help check this issue?

[2020-05-21 08:11] Anonymitaet commented on #221
@KannarFr any update for this doc issue?

[2020-05-21 14:30] tuteng commented on #299
I am very sorry for the late reply.
I think this error is caused by using the wrong paging plug-in, I will look at this problem, but at present, you can try to use this YAML https://github.com/streamnative/charts/tree/master/charts/pulsar file to start the pulsar-manager service, and an updated version of 0.3.0 is used here. @rueian

[2020-05-21 14:34] tuteng commented on #299
This option `pagehelper.helperDialect=postgresql` is specified in this file https://github.com/streamnative/charts/blob/master/charts/pulsar/templates/pulsar-manager/pulsar-manager-configmap.yaml

[2020-05-21 16:03] KannarFr commented on #221
I didn't work on it sorry, no time yet, maybe in the future.

[2020-05-28 10:25] wburon commented on #284
I'm facing the same issue.
Thanks @Persi to share how to get logs.
It seems to be a problem with the internal database in my case.
I got "Failed to obtain JDBC Connection".
`### Error querying database.  Cause: org.springframework.jdbc.CannotGetJdbcConnectionException: Failed to obtain JDBC Connection; nested exception is org.postgresql.util.PSQLException: Connection to 127.0.0.1:5432 refused. Che

[2020-05-28 13:57] tuteng commented on #284
Can you share your configuration and use a custom database? @wburon

[2020-05-28 15:29] wburon commented on #284
sure !
I use Docker Desktop for Windows 10.
[code]

[2020-05-29 00:28] tuteng commented on #284
I want to confirm one thing, do you have permission to write data in the folder `pulsarui`, The database connection is not available, it is possible that the internal database did not start successfully. @wburon

[2020-05-29 07:30] wburon commented on #284
I'm pretty new with docker. Your asking me this ? @tuteng
[code]

Maybe you're right because what i have in the pulsar-manger ui is not what i see in the readme's  example.

[2020-06-01 07:23] lxkaka commented on #299
I have the similar problem. I use image `apachepulsar/pulsar-manager:v0.1.0` to deploy in k8s. I can   not get any data.  I also change image `streamnative/pulsar-manager` errror log show below
[code]

[2020-06-02 04:04] lxkaka commented on #276
I have the same issue.
configured service url shows below
![image](https://user-images.githubusercontent.com/10549664/83478679-06f01300-a4c9-11ea-8ba9-ec80da794b08.png)
but ui shows below
![image](https://user-images.githubusercontent.com/10549664/83478726-24bd7800-a4c9-11ea-8607-7212c91adc4c.png)

[2020-06-03 05:36] aluccaroni commented on #291
BKVM is now deployed on Maven Central

[2020-06-03 05:45] eolivelli commented on #291
Yesterday I started to work on the integration

[2020-06-08 12:41] rodrigodevelms commented on #214
Same error here:
My docker file:
[code]
My initial setup
![pulsar-error](https://user-images.githubusercontent.com/41160178/84030623-5b304280-a962-11ea-8a92-449ecbd8f057.png)

ServiceUrl does not accept

or

When I enter the "Cluster" tab
nothing is shown. And in the log you have the following message:

[code]
I did Tuteng's steps:

[code]
[code]
[code]

It works. But if I restart the container, t

[2020-06-09 03:54] tuteng commented on #214
You may update the address of the service.

[code]
@rodrigodevelms

[2020-06-09 11:18] rodrigodevelms commented on #214
But every time I reset the container, or restart the computer, I have to make this command. I tried on docker-compose.yml to add the line
[code]

[2020-06-09 14:06] tuteng commented on #214
If you start a cluster, it is configured by this command during initialization.  http://pulsar.apache.org/docs/en/deploy-bare-metal/

[code]

If you start a standalone environment, you can configure the broadcast address `conf/standaone.conf`

Then:

[code]

In a word, our aim is to enable pulsar-manager service to connect the pulsar cluster, whether through the domain name or IP address @rodrigod

[2020-06-09 19:25] enriched commented on #266
Running into the same issue, using [Ambassador](https://www.getambassador.io/docs/latest/topics/using/rewrites/) with a helm templated service:

[code]
Running locally on Docker for Mac the request to http://localhost/pulsar/ responds with a 200 and html:
[code]

requests to get stylesheets and scripts under the `/static/` all go to `localhost/static/...` and return 404 rather than `localhost/puls

[2020-06-14 03:10] lvs071103 opened #301 "broker enable authentication and authorization, pulsar-manager no data"
create secret key:
[code]

generate token:
[code]
authorization:
[code]

broker settings:
[code]

start pular-manager:
[code]

![image](https://user-images.githubusercontent.com/5029708/84583829-de084000-ae2f-11ea-819d-89c4b61cfa8d.png)
![image](https://user-images.githubusercontent.com/5029708/84583831-0b54ee00-ae30-11ea-844a-22f4fbe59b56.png)
![image](https://user-images.githubusercontent.com/50

[2020-06-14 14:12] tuteng commented on #301
Have you tried to configure this token in the conf/client.conf file for the pulsar-admin tool? @lvs071103
Then run the command:
[code]

[2020-06-15 05:27] lvs071103 commented on #301
@tuteng

client.conf settings:

[code]

[code]

[2020-06-15 12:43] davidlanouette commented on #214
This issue is a dumpster fire.  It appears to be 2 separate issues (that have similar causes - not configuring the cluster correctly).  And both seem to have been answered/solved by @tuteng.

I would suggest that we create a new ticket to update the manager to provide better info, instead of hanging.  Then close this ticket.

[2020-06-16 13:03] woshiduncan opened #302 "Support multiple bookkeeper cluster"
In org/apache/pulsar/manager/service/impl/BookiesServiceImpl.java , the code as blow
[code]
We can start pulsar-manager with --bookie.host=http://myhost:8000  when there is only one bookkeeper cluster, but not work correctly in geo-replication.
In geo enabled env, pulsar-manager only show one of bookkeeper clusters  that specified by  **_bookie.host_**, because **_bookie.host_** support one url.
I

[2020-06-16 15:29] eolivelli commented on #302
@woshiduncan
FYI in the next release of Pulsar Manager we are going to integrate "BookKeeper Visual Manager"
https://bkvm.org
And probably we will migrate a few of Pulsar Manager BookKeeper-related features to BKVM.

cc @mino181295

[2020-06-19 04:10] lzhpo commented on #283
I also encountered this problem. How did you solve it?
My port is 8080, my curl-v http://127.0.0.1 : 8080 / metrics / has data.

[2020-06-19 04:11] lzhpo commented on #283
I also encountered this problem. How did you solve it?
My port is 8080, my curl-v http://127.0.0.1:8080/metrics/ has data.

[2020-06-19 04:17] lzhpo commented on #283
@sijie @mikayeln
I have solved this problem. Do not use localhost or 127.0.0.1. Please use IP address, http://<Your IP>:8080, it will work! such as http://192.168.100.200:8080
Hope it works for you!
Thank you!

[2020-06-21 03:32] lvs071103 commented on #301
rebuild docker image issue solved:
[code]

enter container and run command:
[code]

[2020-06-21 03:32] #301 closed

[2020-06-21 07:59] jiangmincong opened #304 "/admin/v2 is 404 not found /pulsar-manager/admin/v2 is ok"
Why do requests with url starting with /admin/v2 report a 404 error, and /pulsar-manager/admin/v2 is indeed normal；
My nginx configuration is as follows:
server {
listen 9527;
server_name localhost;

location / {
root /root/pulsar-manage/dist;
index index.html index.htm;
}
location /admin {
proxy_pass http://localhost:7750;
}
location /pulsar-manager {
proxy_pass http://localhost:7750;
}
location

[2020-06-22 03:54] tuteng opened #305 "Support multi address for broker stats"
* Support multi-host address for broker stats

[2020-06-23 03:35] lvs071103 opened #307 "enable proxy pulsar-manager log report Error 401 Authentication required"
env:
[code]

![image](https://user-images.githubusercontent.com/5029708/85357998-34b6fd80-b545-11ea-8577-14abda827e73.png)
![image](https://user-images.githubusercontent.com/5029708/85358182-ac852800-b545-11ea-9d28-5b2c470dfec0.png)

shanghai cluster proxy config:
[code]

beijing cluster proxy config:
[code]

pulsar-manager.log:
[code]

[2020-06-23 07:28] jiawulin001 commented on #292
I also encountered the same situation, through `pulsar-admin` can find `standalone`.
![image](https://user-images.githubusercontent.com/14244944/85372874-0ba66500-b565-11ea-9a06-ff3e72c4ac66.png)

[2020-06-23 08:16] jiawulin001 commented on #292
After entering the container, I checked the log and found the following error message：
![image](https://user-images.githubusercontent.com/14244944/85377510-c9345680-b56b-11ea-9108-af8b71e46b39.png)

I think the wrong pulsar api service address is used,my pulsar service address is `http://192.168.56.101:8080`

![image](https://user-images.githubusercontent.com/14244944/85378245-def64b80-b56c-11ea-8

[2020-06-23 14:08] tuteng commented on #292
@jiawulin001 You can try to get cluster information:

[code]

Update cluster data:

[code]

[2020-06-23 14:24] tuteng commented on #307
Exception stack:

[code]

It seems that this problem is caused by 307 redirections. When a proxy does 307 redirections, the header does not carry authentication information. You can try to open this option on proxy.conf

[code]

@lvs071103

[2020-06-23 14:27] tuteng commented on #304
How do you deploy the environment, build it yourself or use containers, do your front-end and back-end services work together, do your cluster environment startup, and you can try the following command to test your cluster

Use curl:
[code]

Use pulsar-admin

[code]

@jiangmincong

[2020-06-24 02:14] jiawulin001 commented on #292
thx
After updating the `serviceUrl`, the problem is solved.
It is recommended to optimize the UI, if the service address is set incorrectly, the page always shows loading.
![image](https://user-images.githubusercontent.com/14244944/85489899-58d91400-b603-11ea-8e5f-59fb70911f7c.png)

[2020-06-26 01:14] jaschnell opened #310 "Support for TLS Authentication & Authorization"
Need to enable support for TLS authentication & authorization.  Also update the docs to explicitly call out that TLS authentication + authorization is not supported until it actually is.

[2020-06-26 06:21] lvs071103 commented on #307
[code]

The problem could not be solved

[2020-06-26 06:24] lvs071103 opened #311 "pulsar-manager generate token report error: Token generate failed"
![image](https://user-images.githubusercontent.com/5029708/85827345-ab0f6600-b7b8-11ea-9254-a70c186d0634.png)

logs:

[code]

[2020-06-27 04:29] tabalt commented on #310
I have the same problem.

[2020-06-29 01:11] #249 closed

[2020-06-29 01:19] tuteng commented on #310
This feature has been supported here, and I will release a new version recently. At present, you can add the following configuration to enable this feature based on the latest code:

[code]

@jaschnell @tabalt

[2020-06-29 01:31] jaschnell commented on #310
What are the possible values for the 1st two parameters.

Is the tlstrustcertfilepath  the path to the ca cert or the cert for the
role with admin privs?

What about all the references to the keystore in the application.properties
file?  Are they still needed?

Do you have a full application.properties that supports tls certs?

On Sun, Jun 28, 2020 at 9:19 PM Guangning <notifications@github.com> w

[2020-06-29 01:36] sijie commented on #310
@jaschnell the first two values will be the same values you used for configuring a normal Pulsar client.

[2020-06-29 01:39] sijie commented on #311
@lvs071103 did @tuteng already help you on the wechat group?

[2020-06-29 01:48] tuteng commented on #310
There seems to be some problem with the support of this pull request for tls authentication and authorization forwarding requests. I will test it

[2020-06-29 17:31] wenjun8888 opened #312 "compile error"
The latest version can not compile, see:

/opt/Downloads/pulsar-manager/src/main/java/org/apache/pulsar/manager/service/impl/BrokerStatsServiceImpl.java:132: error: cannot find symbol
                    if (StringUtils.isNotBlank(pulsarJwtToken)) {
                                               ^
  symbol:   variable pulsarJwtToken
  location: class BrokerStatsServiceImpl
/opt/Downloads/pulsar-ma

[2020-07-01 06:36] wenjun8888 commented on #312
Thank,it works.
But i find when it's build , the port 7750 disappered and a port 8080 instead.
Is it correct?

[2020-07-01 06:39] eolivelli commented on #312
it depends on application.properties configuration file.
We are still in the process on refactoring configuration and the way we are bundling the front-end.

If you run the backend-end on 8080 you can deploy the front-end inside the same java process. No need for NGinx

[2020-07-01 13:47] josuemotte commented on #283
@sijie

PR Created #314

[2020-07-03 09:09] Omega-Ariston commented on #282
Working on it, but have one question, when doing step 1, can I just simply just call the services for cluster, tenant, namespace... seperately and gather the result, instead of writing sql statements myself in `TopicsStatsMapper.java` ? Since the latter implementation needs to take the type of users(super or normal user) into account.

[2020-07-05 12:13] jiangmincong commented on #304
I found the reason, the pulsar-manager and github code I downloaded from apache pulsar is different

[2020-07-08 00:37] tuteng commented on #282
I'm very sorry to reply late. If you just query the statistical information of a tenant, a namespace, or a topic, you can call the cluster service directly. But for the dashboard, what users need more is aggregated information, such as statistical information of multiple tenants, multiple namespaces, and multiple topics. If you call the cluster service circularly, the cost is very high. We collect

[2020-07-08 09:35] Omega-Ariston commented on #282
All good bud :) I am currently thinking about what the UI interface looks like and I wonder if there is an existing design of the dashboard or any preference? And the task is to add a dashboard in the home page. Is the 'home page' an existing page or do we need to add a new one and direct users to this new page after their login?

[2020-07-09 02:30] #304 closed

[2020-07-11 06:46] kdawgwilk commented on #278
Yeah we figured this out and it was related to some hostname being wrong

[2020-07-11 06:46] #278 closed

[2020-07-14 08:17] bigbang489 opened #318 "Unable to create token"
Reproduce:
- Go to Tokens > New Token
- Input 'admin' as Role, 'Testing' as Description
- Click Confirm
Expect: Token is created
Actual: Nothing happens. Error in the backend log:

[Request processing failed; nested exception is io.jsonwebtoken.io.DecodingException: Illegal base64 character: '_'] with root cause

io.jsonwebtoken.io.DecodingException: Illegal base64 character: '_'
	at io.jsonwebtok

[2020-07-14 08:24] Omega-Ariston commented on #284
@sivavijay13 @wburon
I encountered the same problem the other day, and here's how I solved it:
`cd /var/lib/docker/volumes/pulsarui/_data/postgresql`
`cat pg_hba.conf`
This is the configuration you may wanna look into.
You can post your config if you're still there..

[2020-07-15 08:37] g0715158 opened #319 "When using the mysql database, any unload and split operations on the bundle will have a primary key conflict error"
020-07-15 15:26:26.674  WARN 4046 --- [http-nio-7750-exec-6] o.s.c.n.z.filters.post.SendErrorFilter   : Error during filtering

com.netflix.zuul.exception.ZuulException: Filter threw Exception
	at com.netflix.zuul.FilterProcessor.processZuulFilter(FilterProcessor.java:227) ~[zuul-core-1.3.1.jar:1.3.1]
	at com.netflix.zuul.FilterProcessor.runFilters(FilterProcessor.java:157) ~[zuul-core-1.3.1.jar:1

[2020-07-16 06:33] Omega-Ariston commented on #294
Met a problem that due to similar reason... created a pr to fix this: #320

[2020-07-16 09:31] Omega-Ariston commented on #318
Yeah, this error message is kind of misleading...
Check the same segment of code from the latest pulsar repo and you can find that the implementation has been improved.

https://github.com/apache/pulsar/blob/b6ceec41f7c9ba8a2cd130a9537894ecd8c8f3ee/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/utils/AuthTokenUtils.java#L108-L134

You may wanna take a look at your `appl

[2020-07-16 09:49] bigbang489 commented on #318
Thanks, it worked now

[2020-07-16 09:54] bigbang489 commented on #318
How can I grant permissions to a role?

[2020-07-16 10:56] Omega-Ariston commented on #318
Check this:
http://pulsar.apache.org/docs/en/security-token-admin/#authorization
but currently i can not find any UI element that related to this functionality. Is that true? @tuteng

[2020-07-16 11:02] Omega-Ariston commented on #318
Oh, it's here...
![微信图片_20200716190145](https://user-images.githubusercontent.com/32405587/87663744-e2a97680-c796-11ea-8a1f-a1f360e347aa.png)

[2020-07-16 11:14] bigbang489 commented on #318
I appreciate that. But I got error when I add role which contains  letter '/'
![image](https://user-images.githubusercontent.com/29498440/87664835-2187fe00-c790-11ea-81fd-dd1321fdab13.png)

[2020-07-16 11:26] Omega-Ariston commented on #318
u need to get rid of the slash :)

[2020-07-16 11:44] bigbang489 commented on #318
In Kerberos Authentication, the Principal is the role, follow the documentation, it must be in format `client/{hostname}@{realm}`

[2020-07-16 11:51] lhui1991 opened #322 "ClustersServiceImpl.getClustersList err:NullPointerException"
Turn on JWT authentication

java.lang.NullPointerException: null
        at org.apache.pulsar.manager.service.impl.ClustersServiceImpl.getClustersList(ClustersServiceImpl.java:62) ~[pulsar-manager.jar:na]
        at org.apache.pulsar.manager.service.impl.BrokerStatsServiceImpl.scheduleCollectStats(BrokerStatsServiceImpl.java:128) ~[pulsar-manager.jar:na]
        at sun.reflect.NativeMethodAccessor

[2020-07-16 13:30] Omega-Ariston commented on #318
Try this command, since the REST api won't allow you to involve '/' as part of parameters (or you can try to excape that character in some way):
[code]

[2020-07-17 01:18] sijie commented on #318
@bigbang489 - Currently Pulsar Manager doesn't support Kerberos yet.

[2020-07-17 01:55] sijie commented on #322
@lhui1991 It seems that you don't use the right token. Have you check if you provide the right jwt token to pulsar manager?

[2020-07-17 09:53] marcoaureliox opened #323 "JWT_TOKEN - The parameter is not recognized by the docker"
Hello,

I have a pulsar cluster installed, and I'm trying to launch the pulsar-manager through the docker with the simple parameter JWT_TOKEN, but when I have to create an environment on the portal it gives the error:

"HTTP/1.1 401 Unauthorized[\r][\n]" and "{"reason":"This operation requires super-user access"}"

My CLI comand:
$ docker run -it -p 9527:9527 -e REDIRECT_HOST=http://********** -e

[2020-07-20 01:44] codelipenghui commented on #323
@tuteng Could you please help take a look at this issue?

[2020-07-20 02:12] tuteng commented on #323
Are you using pulsar version 2.6? It seems that the pulsar cluster has some limits. @marcoaureliox

[2020-07-20 03:44] Omega-Ariston commented on #323
Can you directly type this comand:
`echo $JWT_TOKEN`
and check the outcome?

[2020-07-20 13:04] marcoaureliox commented on #323
Yes, I'm using the last version 2.6.

The $JWT_TOKEN it's the access token to the broker.

![image](https://user-images.githubusercontent.com/68423300/87940580-bdb44c80-ca91-11ea-8ae6-1a97ed0f09bb.png)

This token has a super user role:

![image](https://user-images.githubusercontent.com/68423300/87940696-eb00fa80-ca91-11ea-99b4-056d695c4c9f.png)

[2020-07-21 15:44] sijie commented on #323
@marcoaureliox there is a regression in Pulsar 2.6 (https://github.com/apache/pulsar/pull/7241). It will be fixed in 2.6.1.

[2020-07-21 16:19] marcoaureliox commented on #323
Hi @sijie

OK, I will waiting for the fix.

Thanks for the information,
Regards.

[2020-07-22 23:57] leobenkel commented on #196
the log gets really confusing because i didn't create the `data` folder and now i am not sure if it cannot connect to the local one that failed or if it failed to connect to the one i pointed it to because of network issue.

[2020-07-24 00:50] Omega-Ariston commented on #318
@sijie is it a good idea to encode role name in request url in base64 and do the decoding on server side? (so that characters like '/', '&' and '?' won't mess up the request url)

[2020-07-24 03:57] #294 closed

[2020-08-10 14:03] toneill818 commented on #266
I am running into the same issue. I have an nginx ingress setup to map `/pulsar/manager/?(.*)` to the pulsar-manager service. The page loads with a 200, but all of the assets are trying to load from `/static/...`. Does vue have an option that we can pass to the container for it to use a URL prefix?

It appears the `assetsPublicPath` is set in the build config so I'm guessing we can't change it at

[2020-08-11 17:10] enriched commented on #266
@toneill818 Yeah, I don't think that it is settable, but I am wondering if it would be a problem to make the `/static/...` links `static/...` links. That way they would just look for the assets in whatever path index.html was loaded from.

[2020-08-20 12:51] sakurafly123 opened #325 "java.net.MalformedURLException: For input string: "8080,IP2:8080,IP3:8080""
Hello
When you set the cluster's Http Service  URl like this format "http://ip:port,ip2:port,ip3:port", there are a exception.

java.net.MalformedURLException: For input string: "8080,ip:8080ip:8080"
	at java.net.URL.<init>(URL.java:627) ~[na:1.8.0_73]
	at java.net.URL.<init>(URL.java:490) ~[na:1.8.0_73]
	at java.net.URL.<init>(URL.java:439) ~[na:1.8.0_73]
	at org.apache.pulsar.manager.service.imp

[2020-08-21 01:55] jiazhai commented on #325
@sakurafly123 currently Pulsar manager is not supporting this feature.

[2020-08-21 01:56] jiazhai commented on #325
If change to use Pulsar-admin-client, then pulsar manager could support this feature.

[2020-09-01 08:45] Syphixs opened #327 "OAuth 2 Authentication"
Are there any plans to support Oauth2 Tokens like the support for JWT tokens?

[2020-09-03 09:50] Omega-Ariston opened #328 "missing conditional statement in NamespacesServiceImpl.java"
In line 86 of `NamespacesServiceImpl.java`, a conditional statement is applied to do the following check:
https://github.com/apache/pulsar-manager/blob/d44ed96556fc42179c430d42ea45034ebd22ae15/src/main/java/org/apache/pulsar/manager/service/impl/NamespacesServiceImpl.java#L84-L89
while in a few lines below (line 103), the check is missing:
https://github.com/apache/pulsar-manager/blob/d44ed96556fc

[2020-09-07 01:35] jiazhai commented on #327
@Syphixs Would you please describe a little more of this requirements?

[2020-09-08 06:15] #328 closed

[2020-09-08 09:48] YanshuoH commented on #274
hi, any update on this?

[2020-09-09 01:13] jiazhai commented on #327
Oauth2 tokens is basically a JWT token, there is no too much different.  Would like to close this issue for no detailed description. If there is further requirements on it, please reopen it.

[2020-09-09 11:45] tuteng opened #333 "Pulsar manager start failed when enable bkvm"
[code]

ping @eolivelli PTAL

[2020-09-09 12:10] eolivelli commented on #333
That messages are not a problem. It is EclipseLink that tries to use a table, then it fails and then it creates it again.

Let me check if current master works

[2020-09-09 12:43] eolivelli commented on #333
Is the HTTP backend server working?
 Do you have other stack traces?
If it is stuck can you dump the stackstrace of the process with jmap ?

[2020-09-09 13:46] tuteng commented on #333
The backend service is not blocked and can work normally, except that there is no data on the page `/bkvm`, which is normal after I change to version 1.2.0.

![image](https://user-images.githubusercontent.com/1907867/92606767-e44e7100-f2e5-11ea-97cd-78b9d70ceed2.png)

[2020-09-09 13:48] tuteng commented on #333
The dump file seems to be too big
[code]

[2020-09-09 13:56] eolivelli commented on #333
you can shutdown herddb.sql.CalcitePlanner logger in order to hide that SQL error (it is due to EclipseLink)

Go to System -> Cache Status
and click on the green button "RELOAD METADATA FROM ZOOKEEPER"
it will scan ZK metadata

it should have done it automatically, I am investigating.

In BK 1.x the first scan was during Web Application Initialization and it could possibly hang the application in

[2020-09-09 13:58] eolivelli commented on #333
got it.
please add this line to bkvm.conf
`metdata.refreshAtBoot=true`

I am sending a PR now

[2020-09-09 14:02] tuteng commented on #333
Cool, it's worked. Thank you very much. @eolivelli  Do I need to wait for your pr before I release 0.2.0 candidate 2?

[2020-09-09 14:03] eolivelli commented on #333
sending it now

[2020-09-09 14:04] eolivelli commented on #333
see https://github.com/apache/pulsar-manager/pull/334

[2020-09-09 14:06] tuteng commented on #333
Thank you, I will include this fix

[2020-09-09 14:13] #333 closed

[2020-09-14 03:46] lhui1991 opened #335 "Topic Details Page does not display all the partitions information"
![image](https://user-images.githubusercontent.com/57930258/93041688-b4092880-f67f-11ea-86db-54cbbe62a77b.png)

Partitioned-stats request has responsed all partition infos，But front page does not display

[2020-09-14 23:29] nikeshhajari opened #336 "Postgres DB not created when starting up Pulsar Manager"
Hi -

I was following the tutorial, but on start-up of the docker container I receive this message ---

running bootstrap script ... 2020-09-14 23:26:07.962 UTC [41] FATAL:  data directory "/data/postgresql" has wrong ownership
2020-09-14 23:26:07.962 UTC [41] HINT:  The server must be started by the user that owns the data directory.
child process exited with exit code 1
initdb: removing contents

[2020-09-15 01:56] jiazhai commented on #336
@nikeshhajari You are right, seems the db not initialized.

[2020-09-27 06:58] xuesongxs opened #340 "Topics List page, Search Topics bug!"
![image](https://user-images.githubusercontent.com/54351417/94358021-6b665c00-00d0-11eb-93b6-e493dc1fe529.png)

Enter the query condition for the first time to get the query results. If you do not clear the input box, click query once and enter other query condition directly, the query result will be empty.

[2020-09-27 07:06] xuesongxs opened #341 "Add auto refresh in Topic Details page"
In order to view the details of the producers and consumers of the topic, the function of automatic query is to be added.

[2020-10-01 01:00] #340 closed

[2020-10-01 01:06] tuteng commented on #152
v0.2.0 has been released, we close it

[2020-10-01 01:06] #152 closed

[2020-10-01 01:07] tuteng commented on #180
Move to 0.3.0

[2020-10-01 01:07] tuteng commented on #198
This is fixed #239

[2020-10-01 01:07] #198 closed

[2020-10-01 01:13] #282 closed

[2020-10-08 18:18] rattanjotsingh opened #343 "Add Pagination feature at the front end of pulsar manager."
Able to see only 10 brokers at a time at the front end. Enable pagination feature to be able to see more than 10 brokers.

[2020-10-13 11:44] Red-Night-Aria opened #344 "Tenant disappered in dashborad if a namespace under this tenant is failed to getTopicsList"
**To Reproduce**
1. There is a pulsar instance contains two cluster c1 and c2, a tenant t1 with allowed_cluster=[c1, c2]. Create namespace t1/ns1 in cluster c1, t1/ns2 in cluster c2.
2. Configure pulsar manager with cluster_url of c1, t1 won't appear in pulsar manager's dashboard, since the `Get` request `/admin/v2/t1/ns2/topics` sent to cluster c1 would fail.

There is related error log in backen

[2020-10-14 14:39] Redirts opened #345 "Clusters page does not finish loading"
![image](https://user-images.githubusercontent.com/23477559/96004553-72f96500-0e33-11eb-881f-5b9aa80eec64.png)

I am able to successfully access all the other tabs/pages except this one.

[2020-10-15 08:30] tuteng commented on #345
@Redirts  You can try to debug by this step: https://github.com/apache/pulsar-manager/blob/1404117d4b7c97e6bfb753ce9bf35eb68d43f4a9/docs/faq.md#troubleshooting-steps-for-pulsar-manager

[2020-10-15 10:07] Redirts commented on #345
Hi,

1. curl -v http://xxx:yyy/metrics/ works fine

2. ./pulsar-admin clusters list
"standalone"

3. ./pulsar-admin clusters get standalone
{
  "serviceUrl" : "http://pulsarserver:8080",
  "brokerServiceUrl" : "pulsar://pulsarserver:6650"
}

4. Checked the pulsar-manager logs but nothing interesting there either....

Pulsar-express works fine and is able to determine the cluster information so my

[2020-10-15 14:54] tuteng commented on #345
You can try to update the `serviceRrl` of the cluster from `http://pulsarserver:8080` to ` http://xxx:yyy:8080` @Redirts

[2020-10-16 21:48] alexku7 opened #346 "enable client certificate authentication"
Hello
Our pulsar broker require the client certificate authentication over TLS

Seems that the pulsar manager can't connect to the broker due to the lack certificate authentication support.
Could we ask to add the certificate authentication support between the pulsar manager and the brokers ?

[2020-10-17 01:02] tuteng commented on #346
https://github.com/apache/pulsar-manager/tree/master/src#enable-https-forward You can set certificate by this document @alexku7

[2020-10-17 11:03] alexku7 commented on #346
Thanks @tuteng
As I understood , that is intended for HTTPS , I mean traffic encryption but not for the authentication.
I will try again to read and implement these instructions for the authentication as well.
Thanks

[2020-10-17 15:13] alexku7 commented on #346
@tuteng
Unfortunately it is not working
I tried to do the double check again but it seems this feature is intended to tls encryption traffic in case it's required by brokers.

But if , in addition to the tls encryption, we require the client authentication, it's failed with error

[io-7750-exec-10] o.apache.pulsar.manager.utils.HttpUtil   : http request exception message: Received fatal alert: bad

[2020-10-18 04:15] tuteng commented on #346
I'm very sorry. I misunderstood you. There is a similar issue https://github.com/apache/pulsar-manager/issues/310. I'll take the time to have a look @alexku7

[2020-10-18 07:20] mingfang commented on #297
we need a better way(besides running curl) to set default use and password.

[2020-10-18 07:45] mingfang opened #347 "when setting `user.management.enable=false` the user `pulsar-manager.account` does not have admin role."
when setting `user.management.enable=false` the user `pulsar-manager.account` does not have admin role.

The problem seems to be here.

https://github.com/apache/pulsar-manager/blob/0bd2f8a04b09c536f7001fecae0d0e926a46f8bd/src/main/java/org/apache/pulsar/manager/controller/LoginController.java#L135

[2020-10-18 08:12] alexku7 commented on #346
@tuteng  Thank you :)

[2020-10-21 08:02] bcxu opened #348 "java.io.IOException: Cannot find any valid line inside file /data/app/dbdata/data/nodeid"
When I run pulsar-manager ,the docker display the error:
2020-10-21 15:58:24.798  INFO 8 --- [ost-startStop-1] herddb.server.LocalNodeIdManager         : Looking for local node id into file /data/app/dbdata/data/nodeid
2020-10-21 15:58:24.807 ERROR 8 --- [ost-startStop-1] herddb.server.LocalNodeIdManager         : Error while reading file /data/app/dbdata/data/nodeid

java.io.IOException: Cannot f

[2020-10-22 18:27] sijie commented on #348
@eolivelli Are you able to take a look at this issue? It seems to be related to HerdDB.

[2020-10-22 18:40] eolivelli commented on #348
Sure.

[2020-10-22 18:41] eolivelli commented on #348
What's the content of that file?
Was it mounted in a persistent volume?
Do you have data? Or is a fresh new installation?

[2020-10-22 19:07] sijie commented on #347
@mingfang Are you interested in contributing a bug fix?

[2020-10-22 19:16] sijie commented on #346
Close this issue since it is a duplicate of #310

[2020-10-22 19:16] #346 closed

[2020-10-22 21:13] sijie commented on #344
@Red-Night-Aria It seems that you have found the issue. Are you interested in contributing a fix for it?

[2020-10-23 07:47] Red-Night-Aria commented on #344
OK, I'll try in my free time

[2020-10-28 08:56] g0715158 opened #349 "Hope to perform performance testing under the front-end third-party high version dependency package"
The dependencies between packages are messy. You can tune them if you have time. For example, webpack. Some packages require version 3.0.0|4.0.0 when they depend on it. Some packages also require 4.13.0|5.0.0. There will always be errors and warnings
There are also two packages like vue-loader and vue-style-loader. Their versions match a little bit. Otherwise, some methods will not be found.
Hope

[2020-11-02 10:03] #323 closed

[2020-11-04 22:55] KVINTH commented on #283
Hi I am also receiving this same message after cloning the repo and using docker compose to start up the services.

When adding an environment I attempted to use the following for the Service URL:
pulsar://localhost:6650
http://localhost:8080
http://pulsar-standalone:8080

all of which resulted in the same error message.

[2020-11-12 01:53] #341 closed

[2020-11-12 01:54] #347 closed

[2020-11-17 01:40] xuesongxs opened #353 "The status of the topic is not shown according to the return value of the RESTAPI"
![image](https://user-images.githubusercontent.com/54351417/99329067-65af1a80-28b8-11eb-9d6f-7c79af264347.png)

    enum State {
        Uninitialized, // Cursor is being initialized
        NoLedger, // There is no metadata ledger open for writing
        Open, // Metadata ledger is ready
        SwitchingLedger, // The metadata ledger is being switched
        Closing, // The managed cursor is c

[2020-11-20 13:48] dadacom379 opened #354 "pulsar-manager generate token JWT with expiry time in UI"
When creating a Token in Pulsar manager we are not able to set the expire-time in the UI.

![image](https://user-images.githubusercontent.com/17455054/99806780-82dc2700-2b0c-11eb-82f8-59c7e7f2e07f.png)

This is a feature that already exist in the Pulsar installation
![image](https://user-images.githubusercontent.com/17455054/99806903-aa32f400-2b0c-11eb-9747-b14ee4378611.png)

Environment:

- Docke

[2020-11-23 02:04] xuesongxs opened #355 "Pulsar manager does not support the display of bookkeeper clusters with multiple pulsar clusters"
Bookkeeper cluster is only configured in the properties file, he bookkeeper cluster is only configured in the properties file. In all environments, the books page shows only one cluster.

[2020-12-02 09:33] xuesongxs opened #357 "Topic list show DLQ topic is not correct"
![image](https://user-images.githubusercontent.com/54351417/100854094-81730d00-34c3-11eb-99f8-20574cb3b770.png)

DeadLetterPolicy, If allowAutoTopicCreation enabled in broker.conf
allowAutoTopicCreation=true
allowAutoTopicCreationType=partitioned
defaultNumPartitions=3

The topic list page show DLQ is not correct.

Consumer code:
Consumer<String> consumer = getClient().newConsumer(Schema.STRING)

[2020-12-07 10:02] QiAnXinCodeSafe opened #358 "There is a vulnerability in Spring Boot 2.0.2.RELEASE,upgrade recommended"
https://github.com/apache/pulsar-manager/blob/d15a0f1e45a3fe9821df51361584dce87e104948/build.gradle#L17

CVE-2020-5421

Recommended upgrade version：
2.1.17.RELEASE

[2020-12-08 00:52] tuteng commented on #358
Thanks, will upgrade later

[2020-12-09 09:15] tuteng commented on #358
Since zuul relies on a low version of spring, we need to do some planning:

1. Consider using a gateway instead of zuul
2. upgrade spring boot to the new version

[2020-12-09 09:23] eolivelli opened #359 "Upgrade BKVM to 3.0.0"
We should upgrade BKVM to 3.0.0, release highlights:
- support for multiple BookKeeper/Pulsar clusters
- improved usability
- upgrade of HerdDB

With this change it is better to upgrade HerdDB to 0.22.0 and Pulsar to 2.7.0 (and BK implicitly to 4.12.0)

[2020-12-09 09:29] dianacle commented on #359
I'll try to do that.

[2020-12-10 16:56] jeffschnellerEnvisa commented on #310
Any update on this?  Would be great if TLS Authentication/Authorization could be used with the manager.

[2020-12-15 06:16] #359 closed

[2020-12-16 13:29] zsh0139 opened #361 "Pulsar manager's swagger dose not work."
When I access the back-end path of  "/swagger-ui.html" in the development environment, it prompts me that 401 is not authorized. I think it should ignore swagger's access rights

[2020-12-18 15:55] geomagilles opened #362 "Wrong Label in Topic / Policies / Retention"
In Topic / Policies / Retention Size shows "bytes" instead of "megabytes" (if I'm not wrong, the value shown is in mb)

![Screen Shot 2020-12-18 at 16 50 42](https://user-images.githubusercontent.com/134669/102634017-8c7b9d80-4151-11eb-901d-d25e4fa4120b.png)

[2020-12-23 01:42] #336 closed

[2020-12-23 03:11] yixing1337 opened #365 "Some mistakes in README.md of the master branch"
in README.md of the master branch, there are some contents below.

**Build from bin package**
wget https://dist.apache.org/repos/dist/release/pulsar/pulsar-manager/apache-pulsar-manager-0.2.0/apache-pulsar-manager-0.2.0-bin.tar.gz
...
tar -zxvf pulsar-manager.tar
...

But there are two mistakes in the above content.
**first:**
`wget https://dist.apache.org/repos/dist/release/pulsar/pulsar-manager/

[2020-12-23 03:14] yixing1337 commented on #365
Please assign me, I will push a pr and fix the two mistakes. Thank you!

[2020-12-23 07:28] tuteng commented on #365
This is fixed #184

[2020-12-23 07:28] #365 closed

[2020-12-23 07:43] chuyuqiao commented on #361
I encounter too.the reason is that AdminHandlerInterceptor validate token.

[2020-12-23 11:40] yixing1337 commented on #361
I will push a pr to fix this issue

[2020-12-24 01:50] dockerzhang opened #367 "the docker image built from the master can not work correctly."
the docker image built from the master can not work correctly.

1, when run with command
`docker run -d --name manager -p 9527:9527 -p 7750:7750 apachepulsar/pulsar-manager:latest`
docker container can not start, show errors: `Error: format string...`
After add 'SPRING_CONFIGURATION_FILE' and `URL` environment, container can run.

here we should add a default value for 'SPRING_CONFIGURATION_FILE'

[2020-12-29 06:12] tuteng commented on #361
This is fixed #369 Thanks @yixing1337

[2020-12-29 06:12] #361 closed

[2021-01-08 08:12] thinker0 opened #370 "It would be nice if there were buttons for each topic."
It would be nice if there were buttons for each topic.

![image](https://user-images.githubusercontent.com/357785/103990495-a8b0ae80-51d4-11eb-903f-db9dfa5fad16.png)

[2021-01-09 15:55] geomagilles opened #371 "[bug] in namespace's policies tab - Deduplication settings is always off (whatever the true value is)"
You can see that in this screenshot <img width="1651" alt="Screen Shot 2021-01-09 at 16 51 21" src="https://user-images.githubusercontent.com/134669/104096208-57b7bd80-529b-11eb-9d75-93cc04221dd2.png">

or simply reload the page after having changed Deduplication  settings

[2021-01-25 03:58] #362 closed

[2021-02-05 15:28] soiram1994 opened #373 "Default credentials not working"
Started pulsar with docker-compose. Username:"pulsar", Password:"pulsar" don't seem to be working

[2021-02-05 15:29] #373 closed

[2021-02-15 14:20] MisterTimn commented on #266
Has a fixed been found for this issue yet? Running into the same problem on our kubernetes cluster behind an nginx proxy.

[2021-02-24 11:01] o5 commented on #254
Same here. If I click to "Confirm" this error appears in Console.

![Screenshot 2021-02-24 at 11 57 22](https://user-images.githubusercontent.com/218562/108990865-af698700-7697-11eb-9dea-64bd46ff5ed9.png)

[2021-03-02 09:47] patricklucas opened #374 "Triggering offload from topic view broken"
As described in apache/pulsar#9700, triggering an offload from pulsar-manager fails because it does not include the mandatory `messageId` parameter, which must be determined on the client before making the request, in the PUT request to initiate an offload operation on a topic.

In apache/pulsar#9737 (to be included in Pulsar 2.7.1), validation was added to validate and reject a missing `messageId

[2021-03-05 01:46] Brand2 commented on #310
Hi, just going to leave a comment here that I am experiencing a similar issue. It appears to be an issue when the internal Pulsar Client instance attempts to initiate the TLS authentication, I've placed a (truncated) stack trace of the error below.

[code]

[2021-03-17 07:52] LutzWeischerFujitsu opened #376 "build fails on AArch64, Fedora 33"
[jw@cn06 pulsar-manager]$ ./gradlew build -x test
Downloading https://services.gradle.org/distributions/gradle-4.8.1-bin.zip
........................................................................
Starting a Gradle Daemon (subsequent builds will be faster)
Download https://plugins.gradle.org/m2/com/github/hierynomus/license/com.github.hierynomus.license.gradle.plugin/0.14.0/com.github.hierynomus.

[2021-03-25 12:07] marksilcox opened #377 "pulsar-manager.account does not have permissions to add environment"
When I disable user management so can use the `pulsar-manager.account`, the user does not have permissions to add environments. I believe it may be due to the missing `headers.add("role", "admin");` in `LoginController` as that is the only difference I can see from the user management section of the code.

[2021-03-25 12:11] #374 closed

[2021-04-12 07:51] hsaputra opened #378 "Starting Pulsar manager using Docker Compose does not take default username/ password of pulsar/ pulsar"
I tried to use the latest from master to run `docker-compose up` to start Pulsar and Pulsar Manager.

Connecting to http://localhost:9527/#/environments and try enter default username/password of pulsar/ pulsar keep returning error:

[code]

I did not see anything in the console message.

[2021-05-05 16:06] DidierSchonne commented on #378
@hsaputra If you read the docs: https://github.com/apache/pulsar-manager#access-pulsar-manager
You can see that you have to run a CURL command to create the first user.

[2021-05-05 16:08] hsaputra commented on #378
Ah ok, the doc was not clear that I must do this. I thought there was already a built in user as part of bootstrap

[2021-05-09 11:32] DidierSchonne commented on #378
Did you manage to pass the following screen?
If I try to add an environment, and I'm sure that the URL is good, I got this error message:
"error
This environment is error. Please check it"

[2021-05-09 14:24] DidierSchonne commented on #378
Ok, I was able to add an environment, replacing localhost or 127.0.0.1 by the docker network ip created by the Pulsar docker-compose.

[2021-05-10 04:16] hsaputra commented on #378
Have not gotten chance to try it out. Will do in  the next couple of days. Will close this one for now.

[2021-05-10 04:16] #378 closed

[2021-05-14 03:20] SAM2O2O opened #382 "why the username or password is incorrect when using username:'pulsar' & pwd:'pulsar'"

[2021-05-18 15:04] andikercuku commented on #297
For this issue you can deploy a pulsar-manager-batch-job.yaml file which will fix or change the login access in backend-service in this [link](https://github.com/andikercuku/pulsar-manager-login-fix)

After this batch job, you can access your pulsar-manager via dashboard.
Thank you.

[2021-05-20 03:10] aileen5150 opened #383 "Failed to get failureDomains list"
本地通过docker-compose部署了pulsar standalone,pulsar manager 并在pulsar standalone conf文件中设置了jwt鉴权，目前pulsar manager中能正常查看tenants namespaces topics tokens，可以正常增加token，但clusters报错 Failed to get failureDomains list，导致在 new tenant时 无法选择Allowed clusters，请问该如何解决？

[2021-05-20 09:30] g0715158 opened #385 "the primary key conflict inserted into the NameSpace database is abnormal"
When the unload operation of the bundles is executed, the background keeps reporting that the primary key conflict inserted into the NameSpace database is abnormal.

[2021-05-20 11:16] g0715158 opened #387 "multi-bookie cluster support"
Does not support multi-bookie cluster support

[2021-05-24 09:32] #385 closed

[2021-05-25 02:02] zhucanyi opened #389 "Error: Failed to get list of topics under namespace after JWT token is enabled"
enable jwt found error：Failed to get list of topics under namespace

puslar error log：
`09:56:42.207 [pulsar-web-68-13] ERROR org.apache.pulsar.broker.admin.v2.NonPersistentTopics - [admin] Failed to get list of topics under namespace haha232/11/0x00000000_0x40000000
org.apache.pulsar.broker.PulsarServerException: java.lang.NullPointerException
	at org.apache.pulsar.broker.PulsarService.getAdminCl

[2021-05-25 02:13] zhucanyi commented on #389
pulsar manager error log:
`2021-05-25 10:10:41.875  INFO 2103 --- [nio-7750-exec-3] o.a.p.manager.zuul.EnvironmentForward    : Forward request to http://10.62.16.196:8080 @ path /admin/v2/tenants/55aa
2021-05-25 10:10:42.013 ERROR 2103 --- [io-7750-exec-10] o.a.p.m.service.impl.TopicsServiceImpl   : Failed to get topic list.

org.apache.pulsar.client.admin.PulsarAdminException$ServerSideErrorExcep

[2021-05-25 06:12] zhucanyi commented on #389
Sorry, the key was missing when I configured TSL

[2021-05-25 06:12] #389 closed

[2021-05-25 09:53] yixing1337 opened #390 "Pulsar manager successfully added the administrator account with password "admin", but the web login password can not be less than 6 digits."
**Describe the bug**
Pulsar manager successfully added the administrator account with password "admin", but the web login password can not be less than 6 digits.
_the issue is mentioned in https://github.com/apache/pulsar/issues/10558, but it should be here of pulsar-manager_

![image](https://user-images.githubusercontent.com/5304046/119477927-f98b0300-bd81-11eb-903e-40d833375ba8.png)
![image](ht

[2021-05-25 13:58] abenbouz opened #391 "http://backend:7750/swagger-ui.html is throwing {"message":"Please login."}"
hello
i have tested last release 0.2.1 but i have an issue with pulsar manager swagger ui
when i access the url http://backend:7750/swagger-ui.html i have the flowing error :

{"message":"Please login."}

have any idea on how to solve that ?
Thanks

[2021-05-25 14:38] abenbouz opened #392 "Unable to Enable BookKeeper visual manager when using pulsar helm chart on kubernetes"
hello ,

it's  not possible to enable the BookKeeper visual manager  when deploying pulsar manager through helm chart on kubernetes

Regards

[2021-05-25 14:49] eolivelli commented on #392
can you please explain better ?
do you have any error or are you missing a configuration option to turn it on ?

[2021-05-25 15:01] abenbouz commented on #392
hello ,

there is no entry in the chart to activate that

And the bkvm.conf file is not deployed when using the docker image  0.2.0

Thanks

[2021-05-26 11:54] #390 closed

[2021-05-29 19:22] maoxiaoxiong opened #394 "Docker build pulsar and pulsar-manager"
user pulsar-manager

Subscription :    skip、expire、clear and reset

error
1. Request URL:
http://10.211.55.5:9527/admin/v2/persistent/public/default/topic4-partition-0/subscription/my-subscription/skip/1
Response
{"timestamp":"2021-05-29T19:14:02.026+0000","status":500,"error":"Internal Server Error","message":"Connect to localhost:8080 [localhost/127.0.0.1] failed: Connection refused (Connection

[2021-06-07 13:41] khiem111189 commented on #382
I think this is fixed via this merged PR: https://github.com/apache/pulsar-manager/pull/351/files. Besides, the flag `user.management.enable` in the `application.properties` needs to be `false` to have the default admin password to be effective.

[2021-06-09 06:39] karankardas opened #396 "where is SPRING_CONFIGURATION_FILE: /pulsar-manager/pulsar-manager/application.properties"
I have used docker-compose file.
`version: "3.7"
services:
  pulsar:
    image: apachepulsar/pulsar
    command: bin/pulsar standalone
    hostname: pulsar
    ports:
      - "8080:8080"
      - "6650:6650"
    restart: unless-stopped
    volumes:
      - "./data/:/pulsar/data"
  dashboard:
    image: apachepulsar/pulsar-manager:v0.2.0
    ports:
      - "9527:9527"
      - "7750:7750"
    depends

[2021-06-17 14:59] mipper commented on #283
For anyone else being blocked by this, it's again, because of the docker network.  If you use http://proxy1:8080 you should be okay as this is the name of the container that's running the front proxy in the docker-compose environment.  You can see the details of this by running `docker network inspect kitchen-sink_pulsar`

[2021-06-21 03:54] xiaozongyang opened #399 "Failed to login pulsar-manager in docker"
# What I see
I deploy a pulsar-manager instance in docker following these instructions. When I try to login in my browser, I got a 404 error shown in following picture.
![image](https://user-images.githubusercontent.com/8848479/122704821-0c143180-d287-11eb-9b56-24d6aeef00e6.png)

![image](https://user-images.githubusercontent.com/8848479/122704898-32d26800-d287-11eb-8033-16dfc009ca0e.png)

This re

[2021-06-22 01:26] tuteng commented on #399
Which version of the image are you using, and can you show the command you are using? @xiaozongyang

[2021-06-22 01:27] tuteng commented on #396
This is a configuration file for the backend service, you can find a template here https://github.com/apache/pulsar-manager/blob/master/src/main/resources/application.properties @karankardas

[2021-06-22 01:29] tuteng commented on #394
Please configure the correct host of the pulsar cluster, and if you are using a docker deployment, please check if you can connect to your pulsar cluster in the docker container @maoxiaoxiong

[2021-06-22 01:30] tuteng commented on #391
https://github.com/apache/pulsar-manager/blob/master/src/main/resources/application.properties#L158
Please enable this option @abenbouz

[2021-06-22 01:32] tuteng commented on #376
It looks like the node installation failed, please check your node installation process @LutzWeischerFujitsu

[2021-06-22 01:38] tuteng commented on #383
You can try to update your cluster information @aileen5150
Reference: https://github.com/apache/pulsar-manager/issues/292#issuecomment-648173912

[2021-06-22 02:17] #387 closed

[2021-06-22 06:42] LutzWeischerFujitsu commented on #376
Re-tried with current master, still same error. npm is installed and working.
Please note that your file name contains "x64". I'm on AArch64.

[2021-06-22 07:35] tuteng commented on #376
Can you show the docker image for the test? I want to make sure I can reproduce the issue

[2021-06-22 07:38] LutzWeischerFujitsu commented on #376
I don't use docker, want to avoid docker for the time being, if that is possible.

[2021-06-22 11:18] karankardas commented on #396
@tuteng when i try to change in application.properties file. it did not work example i have already changed pulsar.peek.message=true. it did not show any message in pulsar manager it show me error.
![image](https://user-images.githubusercontent.com/56913037/122915201-21698880-d379-11eb-8f0c-93810a509ace.png)

[2021-06-22 14:24] xiaozongyang commented on #399
@tuteng The image version is v0.2.0, shown in the following picture.
![image](https://user-images.githubusercontent.com/8848479/122941973-6f49b500-d3a8-11eb-89a3-0eb281a488d7.png)

Running container use this command,
[code]

[2021-06-22 14:30] tuteng commented on #399
@xiaolongge904913 I think you can try this host: http://localhost:9527/, It will automatically redirect to the login address `http://localhost:9527/#/login?redirect=%2F`, also don't forget to initialize your login account and password https://github.com/apache/pulsar-manager#access-pulsar-manager

[2021-06-22 14:34] tuteng commented on #396
You can log into your pulsar-manager container and view the contents of this file `/pulsar-manager/pulsar-manager/application.properties` to confirm that the `pulsar.peek.message=true` option is turned on correctly, If this option is not enabled, you can modify the file and mount it in the container with docker's `-v` option @karankardas

[2021-06-22 14:48] tuteng commented on #376
I think if you're building locally, you can try to skip this error by this document https://github.com/apache/pulsar-manager#build-instructions

[2021-06-23 03:20] xiaozongyang commented on #399
@tuteng   THX, it works! This issue will be closed.

[2021-06-23 03:20] #399 closed

[2021-06-29 14:12] penghuizhang opened #400 "init environment fail"
use pgsql init environment fail  v0.2

docker run -it -d \
    -p 9527:9527 -p 7750:7750 \
    -e SPRING_CONFIGURATION_FILE=/pulsar-manager/pulsar-manager/application.properties \
    apachepulsar/pulsar-manager:v0.2.0

`error: "Internal Server Error"
message: "\n### Error updating database.  Cause: org.postgresql.util.PSQLException: ERROR: null value in column \"bookie\" violates not-null constra

[2021-06-30 00:34] rbkaspr opened #401 "Support OIDC Authentication for the manager UI"
Just to start off, it's very nice to see that Pulsar has a native management and monitoring UI in the form of the pulsar-manager project.

That being said, from a user authentication perspective, I (and I think most enterprise) would love to see some sort of single sign-on (SSO) support, either in the form of LDAP federation or (preferable) OAuth2/OIDC to support things like RHSSO/Keycloak/Okta/et

[2021-07-01 03:52] aileen5150 commented on #383
./bin/pulsar-admin clusters get standalone
执行返回 null
Reason: java.util.concurrent.CompletionException: org.apache.pulsar.client.admin.internal.http.AsyncHttpConnector$RetryException: Could not complete the operation. Number of retries has been exhausted. Failed reason: Remotely closed

[2021-07-22 11:26] frankxieke opened #404 "README add enviroment failed"
Thus you can type http://pulsar-standalone:8080

=======

in fact, it should be http://pulsar:8080

[2021-08-02 03:10] 871921256 opened #405 "in pulsar manager（0.2.0） we can create tenant、namespace but can not delete"
in  pulsar manager（0.2.0） we can create tenant、namespace but can not delete.token  can create and delete   and check the pulsar manager  log without error...F12 view the web page and find the prompt 415
![image](https://user-images.githubusercontent.com/86153902/127799497-93dc94e0-f3a8-4313-b06b-04365c07718b.png)

[2021-08-05 07:39] zhanghaou opened #406 "Bug in Management/Tenants/Namespaces/Namespace Details"
In the page of Namespace details, if the namespace had not set backlog quota, the bundles list will missing.

[2021-08-05 07:43] zhanghaou commented on #406
![image](https://user-images.githubusercontent.com/5668441/128311472-753b1e64-5afd-4d36-b792-c5587c4597c2.png)
![image](https://user-images.githubusercontent.com/5668441/128311535-8cac69d1-758e-4f9e-997b-417fec667b51.png)

[2021-08-11 13:20] hollander-cegeka opened #407 "OpenShift OKD will not run the pulsar-manager container as a root user"
OpenShift OKD does not support running containers as a root user. Is it possible to change the Dockerfile in a way that is it not running as a root user? Otherwise these errors will occur:

`
﻿Starting Pulsar Manager Front end
nginx: [alert] could not open error log file: open() "/var/lib/nginx/logs/error.log" failed (13: Permission denied)
2021/08/11 11:27:15 [warn] 8#8: the "user" directive make

[2021-08-20 03:03] pisceslj commented on #311
The token is generated from the broker JWT private key as follows，maybe you  should config these parameters:
jwt.broker.token.mode=PRIVATE
jwt.broker.public.key=file:///path/pulsar/broker-public.key
jwt.broker.private.key=file:///path/broker-private.key

or

jwt.broker.token.mode=SECRET
jwt.broker.secret.key=file:///path/broker-secret.key

[2021-08-23 03:39] beyondyinjl2 opened #408 "Token generate failed"
export JWT_TOKEN="eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiZXIifQ.KLyHclBlln9rjSiRa-8IMO1WtPKmv_nYeo"

export SECRET_KEY="file:///opt/my-secret.key"

docker run --name pulsar-manager -dit -p 9527:9527 -p 7750:7750 -e REDIRECT_HOST=http://192.168.146.18 -e REDIRECT_PORT=9527 -e DRIVER_CLASS_NAME=org.postgresql.Driver -e URL='jdbc:postgresql://127.0.0.1:5432/pulsar_manager' -e USERNAME=pulsar -e PASSWORD=puls

[2021-08-26 07:40] GPrabhudas opened #409 "Option to view Schema registered with topic"
- It is better to have option to view schema registered with topic on pulsar manager UI.

If indeed it makes sense to have option to view schema, I'll  go ahead raise a PR.

[2021-08-27 02:23] beyondyinjl2 opened #410 "How to use the userId and password authentication of AuthenticationProviderBasic"
The pulsar cluster opens the authentication method of AuthenticationProviderBasic, how to use pulsar-manager to pass the authentication

[2021-08-30 09:41] g0715158 opened #411 "support mysql connector dependency"
The current version does not support mysql connnector dependency

[2021-08-31 02:11] g0715158 opened #413 "/users/superuser interface，The password can not be less than 6 digits"
When adding users to the /users/superuser interface, you need to add a password that is not less than 6 digits for verification, otherwise you cannot log in with a password less than 6 digits

[2021-08-31 05:04] luhea opened #415 "pulsar-manager use command: cd /usr/local/pulsar-manager/pulsar-manager/bin/ && ./pulsar-manager will has error"
when i use command: cd /usr/local/pulsar-manager/pulsar-manager/bin/ && ./pulsar-manager，I will see that
![image](https://user-images.githubusercontent.com/87756800/131444698-b679ffad-98f9-4064-b50d-e8a67d33499f.png)
but，when i use command：cd /usr/local/pulsar-manager/pulsar-manager && ./bin/pulsar-manager，that is ok。

[2021-09-07 08:19] javahongxi opened #417 "How to build and startup pulsar-manager in IDEA?"
I want to build the source code of pulsar-manager, and startup it in IDEA.

[2021-09-09 00:59] beyondyinjl2 opened #418 "How to support pulsar custom authentication plugin"
Implemented a custom plug-in in pulsar, how to pass the certification in pulsar-manager

[2021-09-09 02:12] #413 closed

[2021-09-10 05:56] sourabhaggrawal opened #419 "Tenants tab latency issue"
Tenants tab takes too much time to load and stuck at https://github.com/apache/pulsar-manager/blob/81d010182d3778ec115a25bd45338d8b01454ab7/src/main/java/org/apache/pulsar/manager/service/impl/TenantsServiceImpl.java#L75.

[2021-09-23 02:19] asagjj opened #422 "when click clusters tab, pulsar-manager log will print MalformedURLException"
Scene: pulsar with multiple adminhttpservers

[2021-10-04 15:55] jonpowellhawkeye opened #424 "Docker Image Healthchecks"
We deploy Pulsar Manager as a Docker container in ECS. To avoid having to use the DNS of the specific instance it's running on to access the front end (port 9527) and back end (port 7750), I'm trying to put an ALB in front of it. ALB has two listeners, each of which has a target group defined, but the ALB target group requires a health check path.

Manager backend (7750) has the standard Spring he

[2021-10-12 06:48] thomaeschen commented on #310
But the Pulsar manager will show "java.lang.Exception: Not supported using BoringSSL"

[2021-10-12 08:32] pgandhap opened #425 "Install Pulsar-manager on kubernetes cluster"
Iam wanna to use pulsar-manager for GUI management, monitoring tool and following this https://pulsar.apache.org/docs/en/administration-pulsar-manager/. In this on step ( Set administrator account and password ) , when i ran below command

 _curl -H 'X-XSRF-TOKEN: $CSRF_TOKEN' -H 'Cookie: XSRF-TOKEN=$CSRF_TOKEN;' -H "Content-Type: application/json" -X PUT http://localhost:7750/pulsar-manager/users

[2021-10-14 07:27] ericsyh opened #426 "[bug](topics) Topics unsubscribe failed on pulsar-manager"
### Background

After the test, we found that topics unsubscribe function didn't work on pulsar-manager while pulsar-admin executes the same subscription work as expected. This should be a bug on Pulsar Manger.

<img width="1792" alt="截屏2021-10-14 下午2 43 06" src="https://user-images.githubusercontent.com/10498732/137270788-437746cf-a8a3-47a3-b2dc-c94a281f5f54.png">

[2021-10-18 09:27] autumnqfeng opened #427 "Add the ordinary User Manager module at pulsar manager UI"
After testing pulsar Manager version 0.2.0, we found that Pulsar Manager only supports superUser functionality and does not support ordinary user management.
We want to provide resource isolation for our business through the user management of Pulsar Manager.

What are the future development plans of the user management module? If the plan is to show the User Manager in the UI, we also have such r

[2021-10-19 07:12] pgandhap opened #428 "Getting error while creating super user for pulsar-manager"
CSRF_TOKEN=$(curl http://backend-service:7750/pulsar-manager/csrf-token)
curl \
    -H "X-XSRF-TOKEN: $CSRF_TOKEN" \
    -H "Cookie: XSRF-TOKEN=$CSRF_TOKEN;" \
    -H 'Content-Type: application/json' \
    -X PUT http://backend-service:7750/pulsar-manager/users/superuser \
    -d '{"name": "admin", "password": "apachepulsar", "description": "test", "email": "username@test.org"}'

While running the

[2021-10-19 12:27] truong-hua opened #429 "Bug: default user pulsar/pulsar does not have permission to create a new environment"
I'm using default pulsar/pulsar user with `user.management.enable=false`. The default pulsar user is logged in successfully but creating a new Environment will throw `{"error":"User does not have permission to operate"}`

**Expectations:**
pulsar/pulsar default user should have super user role.

Below is my configrations:

[code]

And i'm using docker image: `apachepulsar/pulsar-manager:v0.2.0`

[2021-11-02 12:54] gvolpe opened #430 "Delete subscription does not work"
I believe it's related to https://github.com/apache/pulsar-manager/issues/254, which I'm also experiencing. I'm running `apachepulsar/pulsar-manager:v0.2.0`.

![error](https://i.imgur.com/SA0xSth.png)

Nothing happens when I click `Confirm`, and there are no logs in the Docker container either.

[2021-11-17 08:19] pgandhap commented on #196
I am also facing the issue while setting up customised postgresql database . Please help me if someone already had a solution for the same . Please find below steps i followed .
1 . I used below command to set custom postgresql database .
docker run -it -p 9527:9527 -p 7750:7750 -e REDIRECT_HOST=http://localhost -e REDIRECT_PORT=9527 -e DRIVER_CLASS_NAME=org.postgresql.Driver -e URL='jdbc:postgres

[2021-11-19 09:44] pgandhap opened #431 "Not able to do any operations in pulsar manager ( pulsar admin ui )"
In pulsar admin ui , i cannot able to see the clusters available . While creating tenant it is asking me to select cluster but nothing is avaliable in cluster list .
By using this command ( ### ./bin/pulsar-admin clusters list ) , we get the list of clusters and then we can update it . but when i am trying to run this command itself its throwing error .
I am getting below error .

**PS C:\Users\Pa

[2021-11-19 10:15] pgandhap opened #432 "While logging to pulsar admin which says username or password are incorrect ."
Below steps i followed

For installing pulsar-manager :

1. docker pull apachepulsar/pulsar-manager:v0.2.0
2. docker run -it \
    -p 9527:9527 -p 7750:7750 \
    -e SPRING_CONFIGURATION_FILE=/pulsar-manager/pulsar-manager/application.properties \
    -e URL='jdbc:postgresql://127.0.0.1:5432/pulsar_manager' \
    -e USERNAME=pulsar \
    -e PASSWORD=postgres \
    --link pulsar-standalone \
    ap

[2021-11-29 09:07] g0715158 opened #433 "How to set the account and password for the manager to have permission to access the pulsar cluster rest interface"
For advice, if the pulsar cluster has enabled the api authentication authentication pulsar-manager, how to set the account password to have the authority to access the rest interface. Does the current version support this feature

[2021-12-31 15:28] rsrini7 commented on #429
Tried something like
root@pulsar-server:/pulsar/bin# ./pulsar-admin namespaces grant-permission public/default --actions produce,consume --role '*'

but no success.

[2022-01-13 12:15] dragonls opened #439 "Support text filtering in Select component for tenant/namespace/topic"
See https://element.eleme.cn/#/en-US/component/select

It can be much useful to enable filtering.

![image](https://user-images.githubusercontent.com/2565118/149328354-738d31fb-40b9-4855-a3a4-84d8ba72e750.png)
![image](https://user-images.githubusercontent.com/2565118/149328396-0c3ddb6a-d788-4203-a9e0-2be3ceba9425.png)

[2022-01-14 07:38] mattisonchao opened #441 "Support HerdDB in the standard docker image."
## Motivation

Now, The docker image starts PostGRE, and it is a waste of resources. So, we can to use HearDB instead.

Some code link: https://github.com/apache/pulsar-manager/blob/73e4ae37cdab1d8f1f6c08fd5aaca91c612687b6/docker/startup.sh

[2022-01-14 07:39] mattisonchao commented on #441
I'm current work on it.

[2022-01-23 05:28] michaeljmarshall commented on #441
@mattisonchao - what do you think about making it configurable to skip the spawning of any database process in the docker image? Then, in the Pulsar Helm Chart, we could add configuration to make it possible to add the database as a container in the Pulsar Manager's pod. That allows for better visibility into processes that the pod is running and it would also make it the database a bit more confi

[2022-01-23 14:05] mattisonchao commented on #441
@michaeljmarshall

Yes, That's exactly what I thought.

I think we can add ``herddb image`` in **docker-compose** and remove raw database logic from pulsar-manager to improve user **experience** and **observability**.

Am I understanding right?

[2022-01-24 18:05] michaeljmarshall commented on #441
@mattisonchao - yes, that makes sense to me for docker-compose. Ideally, we will also make it configurable in the pulsar helm chart.

[2022-02-09 02:11] jamesvsshark commented on #283
Using `http://pulsar:8080` as the service url works for me.

[2022-02-10 02:14] xuesongxs opened #443 "Simplify the classpath in the bin/pulsar-manager script"
The classpath in the original bin/pulsar-manager script is realized by splicing jar packages, which leads to the command of PS process is too long, so it needs to be simplified.
![image](https://user-images.githubusercontent.com/54351417/153323910-02e06de9-cd27-4cd9-addc-05a6b51fce3a.png)

for example:
![image](https://user-images.githubusercontent.com/54351417/153323378-36488fd0-051b-4424-ac05-d0

[2022-02-16 07:49] fabian4 opened #445 "feat: add support for Casdoor authentication"
Using [Casdoor](https://github.com/casdoor/casdoor) for auth over in-house authentication method.
Features:

1. Support OIDC, OAuth 2.0, SAML, LDAP
2. With [Casbin](https://casbin.org/) based authorization management, Casdoor supports ACL, RBAC, ABAC, RESTful accessing control models
3. Front-end and back-end separate architecture, Casdoor supports high concurrency, provides web-based managing UI

[2022-02-23 09:09] JackrayWang opened #447 "Deploy from bin package error"
pulsar manage server start successfully

 http://ip:7750/   I can see the logo of manage，but the Chrome window is blank。

http://ip:7750/ui/index.html  404

[2022-02-25 03:50] JackrayWang commented on #447
I can run it and use it in my env。But use this shell
`cd pulsar-manager
cp -r ../dist ui
./bin/pulsar-manager --redirect.host=http://localhost --redirect.port=9527 insert.stats.interval=600000 --backend.jwt.token=token --jwt.broker.token.mode=PRIVATE --jwt.broker.private.key=file:///path/broker-private.key --jwt.broker.public.key=file:///path/broker-public.key`

[Official website link](https://pul

[2022-03-02 21:06] vip32 commented on #283
pfoeh, that was hard, This worked for me eventually

docker-compose
[code]

### create a super-user using the following commands
- shell into shop_pulsar_manager container
- `apk add curl`
- `CSRF_TOKEN=$(curl http://shop_pulsar_manager:7750/pulsar-manager/csrf-token)`
- `curl --verbose -H 'X-XSRF-TOKEN: $CSRF_TOKEN' -H 'Cookie: XSRF-TOKEN=$CSRF_TOKEN;' -H 'Content-Type: application/json' -X PUT h

[2022-03-04 21:04] HartmutDIL commented on #283
Sorry guys I am also coming around the corner here with the same problem. however, for me it is in the AWS kubernetes environment. my cluster name is "pulsar-ci".
I have tried the following URL, all without success:

- http://pulsar-ci-broker:8080 // Service Url
- http://pulsar-ci-broker-0:8080 // Broker Url
- http://pulsar-ci-broker.pulsar.svc.cluster.local:8080 // Service Url, full qualified

th

[2022-03-06 14:57] HartmutDIL commented on #283
I was able to solve the problem in the meantime. The reason was that JWT was switched on and therefore an unauthorized access attempt occurred which was of course rejected.
The correct URL is therefore "http://pulsar-ci-broker:8080", for anyone who wants to know it

[2022-03-08 06:38] thomasechen opened #449 "Pulsar Manager sometimes could not create a topic if the cluster has multiple brokers in the cluster"
Dear All,

 I am currently try to adopt the Pulsar solution into our environment and I had an issue related to the "Pulsar Manager".

 After deploying the Pulsar manager in our k8s environment and we can easily create the topic in each tenant and namespace if there was only one broker in the cluster. If the cluster have multiple brokers in it, the Pulsar manager could sometimes create topics succe

[2022-03-08 07:24] thomasechen commented on #449
Dear All,

 I found that the response code from Pulsar is 307 and it means **"Current broker doesn't serve the namespace of this topic"**
This is the reason why the system sometime create topics successfully but sometime not.

Is there any idea to solve this  ?

![image](https://user-images.githubusercontent.com/73772546/157186778-0721e811-0133-4a7e-8700-8a8e23b125bc.png)

[2022-03-08 07:32] thomasechen commented on #274
Dear All,

 This issue would lead to the Pulsar manager sometime could not create topic and subscription if the cluster has multiple brokers in it .

[URL: https://github.com/apache/pulsar-manager/issues/449#issuecomment-1061484123](https://github.com/apache/pulsar-manager/issues/449#issue-1162280548)

[2022-03-11 15:52] ParameshP45 opened #450 "IPv6 Pulsar-manager deployment through helm chart"
Hi Team,

We are doing IPv6 apache pulsar deployment. Zookeeper, proxy, bookie, broker, pulsar-manager,toolset, recovery deployed successfully through pulsar helm chart. All the communications are good except pulsar-manager. Nginx in pulsar manager accepting connections through IPv4 rather than IPv6.

We need to modify /etc/nginx/confi.d/default.conf listener and server from 9527 to [::]:9527 and

[2022-03-15 02:00] wynan commented on #409
I'm wondering if this PR is still viable? I'm looking to use Pulsar to implement a data mesh and would love to expose the Schema registry more in the manager.

[2022-03-16 12:31] goncalocribeiro opened #451 "[user.management.enable=false] - default user/password is not admin"
I've already seen the issue #347, which says it has been solved by #351 but that doesn't work.
The default user/password continues to not be an admin user.

If I have my application.properties as follows:
# If user.management.enable is true, the following account and password will no longer be valid.
pulsar-manager.account=pulsar
pulsar-manager.password=pulsar
pulsar-manager.isAdmin=true
# If true

[2022-03-29 15:45] shenqianjin opened #454 "Bookies table displays nothing and NPE happens in pulsar-manager.log"
I used pursal-manager to manage my cluster with default configurations, when I click [Management] -> [Clusters] -> [Cluster Details] in the front management page, the page table displays nothing and NPE happens in pulsar-manager.log:

<img width="866" alt="image" src="https://user-images.githubusercontent.com/19339116/160650507-deb07019-fc58-4b75-be4b-ab2f14660f9e.png">

error log in pulsar-manage

[2022-03-30 10:35] zy857189690 commented on #454
me too

[2022-04-12 06:12] #443 closed

[2022-04-13 01:54] #445 closed

[2022-04-14 11:25] john1337 commented on #429
one year passed,still no body fixed it ?

[2022-04-14 11:35] eolivelli commented on #429
@john1337 would you have time to send a fix?

[2022-04-21 03:18] gjanardh commented on #451
I am stuck with the above issue too. Any work arounds for this issue to use pulsar-manager 0.2.0?

[2022-04-29 13:45] samzph opened #459 "Peek Message does not work"
When setting `pulsar.peek.message=true` in `/pulsar-manager/pulsar-manager/application.properties`, I still receive the following error:
<img width="339" alt="image" src="https://user-images.githubusercontent.com/92114618/165955326-d4418004-1fc9-4e7c-99c8-7736a7c32bed.png">

This is mounted into the container on creation, **I've even tried restarting the manager within the container.** It seems to

[2022-05-01 05:21] yws-tracy commented on #415
the ui folder must be in the relative path of your startup command to be recognized

[2022-05-01 05:24] yws-tracy commented on #427
same demand!  half year passed, Is there any progress?

[2022-05-18 11:42] yws-tracy commented on #447
is it resolved?  I met same issue

[2022-05-18 11:51] #439 closed

[2022-05-19 09:26] maxsxu opened #461 "Stale description of creating environment in README"
## Description
In the latest pulsar manager, the way to create environment need to be updated, and the related gif.

[2022-05-19 09:40] #461 closed

[2022-05-25 04:41] Hongten opened #463 "Pulsar manager supports normal users to access"
Currently, the pulsar admin can access the pulsar manager to manage the Pulsar clusters. However, normal users can not access it. I think the pulsar manager should support it. For example. The users have below operations on the pulsar manager.
1. Users request to create a tenant, namespace, and topic(Need admin to approve)
2. Users request the permission for the namespace( e.g produce, consume)(Ne

[2022-06-03 14:16] wyldebill commented on #459
I am seeing the same thing with all of the "Backlog Operations".  They all fail with 500 errors.  Are there specific versions of Pulsar Manager that only work with specific versions of Pulsar?  I am running Pulsar:2.9.2 and pulsar-manager:v0.3.0 in Docker, standalone.

[2022-06-10 14:49] daniel-bartz opened #464 "JWT/TLS authentication issue creating en new Environment (pulsar-manager 0.3.0)"
When I want to add a new _Environment_ via the web interface, nothing happen and I get the following error in the backend logs:
[code]

I built (tried both jdk8 & 11) the _pulsar-manager_ using `./gradlew build -x test`
I tried to run it on both jdk8 & 11 and the same issue appeared.

Notes:
- I was using same approach for _pulsar-manager_ 0.2.0 on jdk11and it worked very nicely.
- I tried to use

[2022-06-10 18:46] eolivelli commented on #464
Can you paste the full stack trace please?

It looks like the problem is related only to TLS

Probably there is some third party library to upgrade

[2022-06-10 18:48] eolivelli commented on #464
https://stackoverflow.com/questions/47126562/bouncycastleprovider-throws-java-lang-nosuchfielderror-id-hmacwithsha3-224

You can try to upgrade BouncyCastle dependency to fix the problem

[2022-06-10 19:49] daniel-bartz commented on #464
Here is the full stacktrace, so you can see I use a rather new BC lib
[code]

[2022-06-16 15:53] toneill818 opened #465 "Docker Failed to Initialize Postgresql Database"
When running the docker container the following is produced in the logs.

[code]

[2022-06-21 07:52] #464 closed

[2022-06-24 02:24] NiuBlibing opened #467 "Error when generate token"
https://github.com/apache/pulsar-manager/blob/0f314e13279a1514d743a4f7062617f42f72e8a7/build.gradle#L155
![image](https://user-images.githubusercontent.com/88433283/175449499-dee8e99a-c3f6-48df-9d18-93357f3e9360.png)
It failed with the error message,and it works when I remove the `constraints`

[2022-06-24 08:05] meimeitou commented on #465
same problem

[2022-06-24 08:06] meimeitou commented on #465
[code]

[2022-06-24 09:12] yuvalgut commented on #465
Same here, I think its ever since this https://github.com/apache/pulsar-manager/commit/46f9e0a34960d9a775b4cea1515daafe621a21e4

[2022-06-28 02:22] squallliu opened #468 "namespace policies bugs"
1. An error is reported when adding a role to the namespace
2. Adding a role text box and pressing Enter will refresh the page

[2022-06-29 06:11] gurleen-gks opened #470 "Pulsar manager does not support x509 cert and key for tls"
Only supports keystore

[code]

[2022-07-01 15:05] MakDEC commented on #468
Hello. I have the same issue with my installation.
When i press the "Add Role" button, a text box appears:

<img width="387" alt="Screenshot 2022-07-01 at 16 56 44" src="https://user-images.githubusercontent.com/16090479/176919731-4c745d65-0f87-4c58-8183-13231b0539a8.png">

 I try to set new authorization with differents syntaxs:
- role
- role/consume
- role:consume
- consume/role
- consume:role
-

[2022-07-08 08:44] whichdew opened #471 "login error!"
after deploy pulsar with helm, i can't login pulsar-manager with default credencials! how to solve it?

[2022-07-08 09:16] whichdew commented on #471
[code]

[2022-07-08 09:16] #471 closed

[2022-07-15 19:22] bithavoc opened #472 "Docs for 0.2.0 are broken since #456 was merged two days ago"
Docs are broken for 0.2.0 since https://github.com/apache/pulsar-manager/pull/456 was merged

Docs for 0.2.0 reference to master branch sql script which to remove the creation of the `roles` and `role_binding` tables, the documentation is
The documentation states:

But the schema was updated to no longer include `roles

\cc @tuteng @urfreespace

[2022-07-15 19:36] bithavoc commented on #472
It's more than just those two tables:

[code]

[2022-07-19 05:06] youzipi opened #473 "fail to create environment as broker throw error: `io.netty.handler.codec.TooLongFrameException`"
when i create new environment, got error: `This environment is error. Please check it`

container log:
[code]

i found this issue: https://github.com/apache/pulsar/issues/15688

[code]
is manager backend call the wrong interface? why the data size is 1G?
this is our test environment with 100 topic and not too much msgs.

https://github.com/apache/pulsar-manager/blob/master/src/main/java/org/apache

[2022-07-19 06:55] youzipi commented on #473
use the wrong url

found this in manager backend log:
[code]

[2022-07-25 20:24] abennani31 opened #474 "Error while log in pulsar manager ui"
Hi
We are trying to install pulsar on our test environnent to test for a production use. We install it by using helm chart.  Looking to have a ui to administrate it we enable pulsar manager on the chart helm.
We got an 404 error while using the default user pulsar/pulsar. We don’t know what we are missing.

We test ssl and no ssl mode and got the same error (404). No logs in the pod! The error is

[2022-07-29 07:50] gangming opened #476 "manager UI login 404"
<img width="638" alt="WX20220729-154813@2x" src="https://user-images.githubusercontent.com/15102743/181711118-fdeb67d7-2247-49f8-9185-a0c5465775ab.png">
command:

`docker run -it \
    -p 9527:9527 -p 7750:7750 \
    -e SPRING_CONFIGURATION_FILE=/pulsar-manager/pulsar-manager/application.properties \
    apachepulsar/pulsar-manager:v0.2.0`
platform: apple m1

[2022-08-01 20:38] kponichtera commented on #451
I lost half a day trying to figure out why `user.management.enable` property doesn't work for me - the user specified by `pulsar-manager.account` didn't work for me at all. Turns out these properties are not used in the code anymore - the are just dead, autowired property values. The README also mentions:

@goncalocribeiro The code in https://github.com/apache/pulsar-manager/pull/351 does not exis

[2022-08-02 10:40] magicsilence opened #477 "Cannot find cluster mangement and npe error in v0.3.0"
hi team,
I meet some problems when using pulsar-manager.

The first is cannot find `cluster management` in my pulsar-manager (v0.3.0)  and the pulsar cluster's version is v2.9.3.

![image](https://user-images.githubusercontent.com/823374/182355261-bc0a4535-7af0-44f0-8028-324093790c37.png)

Second, pulsar-manager's backend serive always output exception log:
`
java.lang.NullPointerException: null

[2022-08-02 15:24] moecasts commented on #476
I have the same problem too, do you have solve it?

[2022-08-03 03:32] Asongguo commented on #476
pulsar-manager进程没启动成功
![image](https://user-images.githubusercontent.com/29701800/182518128-410c33c9-bb24-4bdb-b7a5-7bde5f52d53a.png)

[2022-08-03 03:33] moecasts commented on #476
这个需要怎么解决呢？我试了下就只有 m1 的会有这个问题，直接在 linux x86 上跑的话就正常。

[2022-08-03 03:44] Asongguo commented on #476
问题是

[2022-08-03 03:44] Asongguo commented on #476
问题是

[2022-08-03 09:38] jamesWsg opened #479 "Authorization failed"
1, Have add config to ,create token is ok in web

2, when want to authorization the above role user1

![image](https://user-images.githubusercontent.com/17287939/182576379-035826f2-76f4-413d-96cf-f19530d67d0a.png)

[2022-08-03 14:51] moecasts commented on #476
可以了，谢谢大佬！

[2022-08-07 00:59] stonegithubs opened #480 "pulsar-manager.log: connection referred: localhost / 127.0.0.1:8080"
Environment:
CentOS 8
Standalone deployment

docker-compose.yml

version: '3.7'
services:
  pulsar-standalone:
    image: "apachepulsar/pulsar:2.10.1"
    command: bin/pulsar standalone
    restart: always
    container_name: pulsar-standalone
    hostname: pulsar-standalone
    ports:
      - "6650:6650"
      - "8080:8080"
    volumes:
      - pulsardata:/pulsar/data
  pulsar-manager:
    image:

[2022-08-10 21:01] tr-fteixeira opened #481 "broker authentication using Oauth2 causes "null" execption - MethodNotFound (hidden)"
When using oauth2 for the pulsar admin broker communication, this error is seen:

[code]

The relevant config is:
[code]
Where `oauth.json` contains:
[code]

Even though it presents itself as a TimeoutException, debugging locally i was able to identify the error as a missing method on [this](https://github.com/apache/pulsar/blob/v2.7.0/pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth

[2022-08-10 21:06] tr-fteixeira commented on #481
I was able to work around the problem doing the following changes on `build.gradle` and rebuilding the image.
I am sure this is not the best way to solve it, but it works.
As this is a bit out of my ordinary alleyway, its all i can offer... hope it helps others =).

[code]

[2022-08-16 06:07] gurleen-gks commented on #310
Yes, it is fixed

[2022-08-16 06:09] gurleen-gks commented on #310
However now I am struggling with the below error

[code]

[2022-08-16 21:41] gurleen-gks commented on #463
Any update on this?

[2022-08-24 15:38] jakiuncle opened #483 "I want use casdoor to login,when i change code, happen some problem"
![image](https://user-images.githubusercontent.com/88994283/186461092-4ef76ec1-a3ba-4d7b-a177-bf877737cb2e.png)
why it jump to
![image](https://user-images.githubusercontent.com/88994283/186461225-1637218f-4c1a-40eb-a37b-029bf9b38938.png)
How can i aviod it.
Thank you.

[2022-08-29 12:27] #483 closed

[2022-09-08 13:53] DimitryVlasenko opened #487 "Set password returns 404"
**Pulsar manager was deployed using official helm chart**

**when trying to set an admin password as per** https://github.com/apache/pulsar-manager#access-pulsar-manager

root@pulsar-pulsar-manager-6b54664667-wfc2g:/pulsar-manager/pulsar-manager# curl     -H "X-XSRF-TOKEN: $CSRF_TOKEN"     -H "Cookie: XSRF-TOKEN=$CSRF_TOKEN;"     -H 'Content-Type: application/json'     -X PUT http://127.0.0.1:5432

[2022-09-28 11:58] sumingsoftware opened #489 "apache-pulsar-manager-0.3.0 Management menu always return 404"
**Describtion:**
     When I click the Management menu on the top Management menu , It always return 404 page.

**environment:**
     1. apache-pulsar-manager version is 0.3.0,
     2. JDK
         openjdk version "11.0.2" 2019-01-15
         OpenJDK Runtime Environment 18.9 (build 11.0.2+9)
     3. OS: Red Hat 8.2.1-3

 **scenario:**
![1](https://user-images.githubusercontent.com/25632771/1927718

[2022-10-09 06:20] haiboself commented on #471
same issue, the curl return "Empty reply from server" as response, Do you solve this problem in the final?

[2022-10-09 09:14] xdewx commented on #471
I solved it. make sure:
1. pod & service all is up
2. follow instruction in README

[2022-10-09 11:31] haiboself commented on #477
Same issue， the only difference is I deploy 0.3.0 in docker。

[2022-10-11 01:45] haiboself commented on #477
Finally, I solved the problem by installing the v0.3.0 version rather than v0.2.0.
The install command is:
[code]

[2022-10-11 01:51] haiboself commented on #471
Thanks, Finally, I solved the problem by installing the v0.3.0 version rather than v0.2.0.

[2022-10-13 16:16] MonicaMagoniCom commented on #474
I have the same problem, did you solve it?

[2022-10-21 13:29] kevinyjn opened #491 "pulsar-manager could not proxy with nginx under relative path"
The html page were using absolote path with begining /static/ like: <script src=/static/js/chunk-elementUI.1833fb71.js>

[2022-10-25 07:30] Hongten opened #492 "The "token" get from the request header, but we don't use it."
Description:
The "token" get from the request header, but we don't use it.

Environment:
1. apache-pulsar-manager version is 0.3.0,
2. JDK: 11
3. OS: macOS

Scenario:
Please refer to https://github.com/apache/pulsar-manager/blob/master/src/main/java/org/apache/pulsar/manager/controller/EnvironmentsController.java#L106
![image](https://user-images.githubusercontent.com/3076703/197710274-73562c9b-83

[2022-10-25 07:32] jsteggink commented on #407
+1

[2022-10-28 13:15] zengzhengrong commented on #465
Does any one solve this?

[2022-11-10 07:43] Mr-Qiuqi opened #494 "Pulsar-mamager cannot operate topic"
error
"Internal Server Error"
message: "Connect to localhost:8080 [localhost/127.0.0.1] failed: Connection refused (Connection refused)"
status: 500

[2022-11-11 03:29] Mr-Qiuqi commented on #449
You can try to update the Service Url to that of a single node, for example http://your.node.Ip:8080.
I filled in the Host of three nodes, which made it unavailable

[2022-11-15 02:28] MarsSu0618 opened #495 "pulsar-manager create topic get 400 response"
## Description
When I try to create topic with pulsar manager, but the ui can not create it and get 400 response.
In addition, I can create topic using `./bin/pulsar-admin` command line.
Please supply related solution, thank you.

## Version
* Pulsar: 2.10.2
* Pulsar Manager: 0.3.0 (Deploy from bin package)
* Instance: AWS EC2

## Image
<img width="300" alt="image1" src="https://user-images.github

[2022-11-23 08:14] #492 closed

[2022-11-23 08:20] #465 closed

[2022-11-24 05:37] shihui-tang opened #497 "empty replay for csrf-token"
- Step1: install pulsar-manager with docker with version v0.3.0

[code]

- Step2: access ui with url: http://localhost:9529

-- 2.1: login in with user pulsar/pulsar
-- 2.2: login in response with: 404

- Step3: get token

-- 3.1
`curl http://localhost:7750/pulsar-manager/csrf-token
`-- 3.2
`curl: (52) Empty reply from server
`
Question is:
What's wrong with my steps or anything wrong with pulsar-

[2022-11-26 02:00] shihui-tang opened #498 "How to use external database for pulsar-manager in helm chart?"
I find that we cant not use external database for pulsar-manager component in helm chart.  How to configuration the datasource to use external database ?

[2022-11-26 02:01] #498 closed

[2022-11-30 10:56] peng-huang-ch commented on #497
1. Run the pulsar-manager
[code]

2. get token, exec container `ca632f969680`
[code]

It works fine for me.